<ul>
    {% for notification in notifications  %}
        <li class="notification notification-unread">
        <a href="#">
            <div class="image"><img src="{{notification.user.profile.avatar.url}}" alt="Avatar"></div>
            <div class="notification-info">
                <div class="text"><span class="user-name">{{notification.user.first_name}}- {{notification.reason}}</span>
                {% if notification.reason == 'NSH' %} 
                    creó el embarque {{notification.shipment }} con destino hacia {{notification.shipment.plant}}.</div>
                {% elif notification.reason == 'DSH' %}
                    marcó el embarque {{notification.shipment }} como Entregado.</div>
                {% endif %}
                
                <span class="date">Hace 2 minutos</span>
            </div>
        </a>
        </li>
    {% empty %}
        <li class="notification">
            <a>
                <div class="">
                    
                </div>
                <div class="notification-info">
                    <span class="text">Aún no hay notificaciones.</span>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>