{% extends 'admin/includes/containers/simple_form.html' %}
{% load static %}

{% block title %}Lideres{% endblock %}

{% block fields %}
  <label class="form-label strong block" for="id_first_name">Nombre(s)</label>
  <input class="text-input block width-100" type="text" name="first_name" maxlength="150" required="" id="id_first_name" value="{% firstof form.first_name.value '' %}">

  <label class="form-label strong block" for="id_last_name">Apellido(s)</label>
  <input class="text-input block width-100" type="text" name="last_name" maxlength="150" required="" id="id_last_name" value="{% firstof form.last_name.value '' %}">


  {% for inline in inlines %}
    {{ inline.management_form }}

    {% for form in inline %}
      <input
        type="hidden"
        name="{{form.id.html_name}}"
        id="{{form.id.id_for_label}}"
        value="{% firstof form.id.value '' %}" />

      <label
        class="form-label strong block m-top--s"
        for="{{form.position.id_for_label}}">Puesto</label>

      <input
        class="text-input block width-100"
        type="text"
        maxlength="150"
        name="{{form.position.html_name}}"
        id="{{form.position.id_for_label}}"
        value="{% firstof form.position.value '' %}">

      <label class="form-label strong block m-top--s" for="{{form.level_of_hierarchy.id_for_label}}">Nivel jerarquico</label>
      {{ form.level_of_hierarchy }}

      <label class="form-label strong block m-top--s" for="{{form.generation.id_for_label}}">Generación</label>
      {{ form.generation }}
    {% endfor %}
  {% endfor %}
{% endblock %}
