{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block splash_description %}
    Reestablecer contraseña.
{% endblock %}

{% block content %}
<div class="modal-box">
    <p class="m-tb--s text-justify">¿Olvidaste tu contraseña? Proveenos tu dirección de email y te enviaremos un correo con las instrucciones para reestablecerla.</p>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form class="classless-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <input 
            type="email"
            name="email"
            size="30" 
            placeholder="Correo electrónico" 
            required="" id="id_email"
            class="form-control">

        <!-- <input class="button secondary-button a--right" type="submit" value="" /> -->
        <div class="form-group login-submit">
            <button type="submit" class="btn btn-primary btn-xl">Reestablecer contraseña</button>
        </div>
    </form>

    <!-- <p class="m-top--s">Por favor contáctanos si tienes problemas reestableciendo tu contraseña.</p> -->
</div>
{% endblock %}
