{% extends "account/base.html" %}

{% load account %}
{% load users_tags %}
{% block splash_description %}
  Cambiar contraseña.
{% endblock %}

{% block content %}
  <div class="modal-box">

    <form class="classless-form" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
      
        <input 
          type="password"
          name="oldpassword"
          placeholder="Contraseña actual"
          required=""
          id="id_oldpassword"
          class="form-control">
        <br>
        <input
          type="password"
          name="password1"
          placeholder="Repetir contraseña"
          required=""
          id="id_password1"
          aria-autocomplete="list"
          class="form-control">
        <br>
        <input 
          type="password"
          name="password2"
          placeholder="Nueva contraseña (de nuevo)"
          required=""
          id="id_password2"
          class="form-control">
          
          <div class='errors-description'>
          {% if form.errors %}
            {% for field, error in form.errors.items %}
              <div>
                  <p> {% change_words field %}: {{ error|escape }}</p>
              </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
          {% endif %}
          </div>

        <div class="form-group login-submit">
          <button type="submit" class="btn btn-primary btn-xl">Cambiar contraseña</button>
        </div>
    </form>
  </div>
{% endblock %}
