{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>Reestablecer contraseña</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>¿Olvidaste tu contraseña? Proveenos tu dirección de email y te enviaremos un correo con las instrucciones para reestablecerla.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Reestablecer contraseña" />
    </form>

    <p>Por favor contáctanos si tienes problemas reestableciendo tu contraseña.</p>
{% endblock %}