{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block splash_description %}
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}.{% endif %}
{% endblock %}
{% block content %}
<div class="modal-box">
    <h1 class="page-title"></h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="m-tb--s">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="classless-form" method="POST" action="{{ action_url }}">
                {% csrf_token %}

                <input 
                    type="password" 
                    name="password1" 
                    placeholder="Nueva contraseña" 
                    required="" id="id_password1" 
                    aria-autocomplete="list"
                    class="form-control">
                <br>
                <input 
                    type="password"
                    name="password2"
                    placeholder="Repetir contraseña"
                    required="" id="id_password2"
                    class="form-control">    

                <!-- <input class="button secondary-button" type="submit" name="action" value="{% trans 'change password' %}"/> -->
                <div class="form-group login-submit">
                    <button type="submit" class="btn btn-primary btn-xl">Cambiar contraseña</button>
                </div>
            </form>
        {% else %}
            <p class="m-top--s">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
