{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="modal-box">
    <h1 class="page-title">Reestablecer contraseña</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="m-tb--s">¿Olvidaste tu contraseña? Proveenos tu dirección de email y te enviaremos un correo con las instrucciones para reestablecerla.</p>

    <form class="classless-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {{ form }}

        <input class="button secondary-button a--right" type="submit" value="Reestablecer contraseña" />
    </form>

    <p class="m-top--s">Por favor contáctanos si tienes problemas reestableciendo tu contraseña.</p>
</div>
{% endblock %}
