{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block splash_description %}
    {% trans "Password Reset" %}.
{% endblock %}

{% block content %}
<div class="modal-box">
    <h1 class="page-title"></h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="m-top--s text-justify">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <p class="text-center"><span id="contador"></span></p>
    
</div>
{% endblock %}
{% block scripts %}
<script>
    console.log("ready for redirect!");
    redirectURL = "/accounts/login/?next=/"
    var totalTiempo = 5;
    setInterval(function () {
        document.getElementById("contador").innerHTML = "Redireccionando en " + totalTiempo + " segundos.";
        if (totalTiempo == 0){
            location.href=redirectURL
        } else {
            totalTiempo--;
        }
    }, 1000);
</script>
{% endblock %}
