{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal-box companies">
  <h1 class="page-title">Industrias</h1>
  <a  class="button button-small secondary-button block width-80 center text-center" href="{% url 'admin:industry-add' %}">Crear nueva industria</a>

  <section class="list list-companies">
    {% for industry in object_list %}
      <p><a href="{% url 'admin:industry-update' industry.id %}">{{ industry.name }}</a></p>
    {% empty %}
      <p>No existe ninguna industria.</p>
    {% endfor %}
  </section>
</div>
{% endblock %}
