.options-container {
    margin-top: 30px;
}

.options-item {
    display: flex;
}

.options-item .delete {
    width: auto;
    height: fit-content;
    margin: 15px;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.skill-expand {

}

.skill-collections {
    padding: 1.6rem;
    padding-top: 0;
    padding-left: 3.2rem;
    font-size: small;
    list-style: disc;
}

.skill-collections li {
    list-style: disc;
}

.right-actions {
    float: right;
    margin: 1.6rem;
}

