.options-container {
    margin-top: 30px;
}

.options-item {
    display: flex;
}

.options-item .delete {
    width: auto;
    height: fit-content;
    margin: 15px;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.skill-expand {

}

.skill-collections {
    padding: 1.6rem;
    padding-top: 0;
    padding-left: 6rem;
    font-size: small;
    list-style: disc;
}

.skill-collections li {
    margin-bottom: .5rem;
    list-style: disc;
    font-weight: bold;
    color: dimgrey;
}

.skill-collections li a {
    color: dimgrey;
    text-decoration: none;
}

.skill-collections li span p {
    font-weight: normal;
    margin-left: 1.6rem;
}

.skill-collections .new-bundle {
    color: #4f929a;
    font-weight: bold;
    text-decoration: none;
}

.right-actions {
    float: right;
    margin: 1.6rem;
}

.errorlist {
    color: #ea5858;
}
