* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font: normal 1.6rem/1.5 sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666;
  background-color: #5A574E; }

.page-title, .page-subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.6rem 0;
  line-height: 1.2;
  color: #fff; }

.page-subtitle {
  color: #7D6000; }

.text-center {
  text-align: center; }

.center {
  margin: 0 auto; }

.block {
  display: block; }

.width-100 {
  width: 100%; }

.width-80 {
  width: 80%; }

.width-50 {
  width: 50%; }

.strong {
  font-weight: 700; }

.m-tb--xs {
  margin: 0.8rem 0; }

.m-tb--s {
  margin: 1.6rem 0; }

.m-tb--m {
  margin: 3.2rem 0; }

.m-tb--l {
  margin: 4rem 0; }

.m-tb--xl {
  margin: 4.8rem 0; }

.m-tb--xxl {
  margin: 5.6rem 0; }

.m-top--xs {
  margin-top: 0.8rem; }

.m-top--s {
  margin-top: 1.6rem; }

.m-top--m {
  margin-top: 3.2rem; }

.m-top--l {
  margin-top: 4rem; }

.m-top--xl {
  margin-top: 4.8rem; }

.m-top--xxl {
  margin-top: 5.6rem; }

.m-bottom--xs {
  margin-bottom: 0.8rem; }

.m-bottom--s {
  margin-bottom: 1.6rem; }

.m-bottom--m {
  margin-bottom: 3.2rem; }

.m-bottom--l {
  margin-bottom: 4rem; }

.m-bottom--xl {
  margin-bottom: 4.8rem; }

.m-bottom--xxl {
  margin-bottom: 5.6rem; }

.m-tb--xs {
  margin: 0.8rem 0; }

.m-tb--s {
  margin: 1.6rem 0; }

.m-tb--m {
  margin: 3.2rem 0; }

.m-tb--l {
  margin: 4rem 0; }

.m-tb--xl {
  margin: 4.8rem 0; }

.m-tb--xxl {
  margin: 5.6rem 0; }

.classless-form p {
  margin: 1.6rem 0; }
  .classless-form p label {
    display: block;
    margin-bottom: .4rem; }
  .classless-form p input {
    display: block;
    padding: .8rem;
    color: #7D6000;
    font-size: 1.6rem;
    border: 0;
    width: 100%;
    margin: .8rem 0; }
  .classless-form p select {
    width: 100%;
    border: none;
    color: #7D6000;
    font-size: 1.6rem;
    min-height: 3.2rem; }
    .classless-form p select option {
      padding: .4rem .8rem; }

.text-input {
  background-color: transparent;
  color: #7D6000;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: 2px solid #b08700;
  padding: .8rem;
  display: block;
  font-size: 1.6rem; }

.button {
  padding: 1.6rem 2.4rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  text-decoration: none; }
  .button-small {
    padding: .8rem;
    font-size: 1.2rem;
    background-image: -webkit-linear-gradient(#ddd 0%, #A8A8A8 100%);
    background-image: -o-linear-gradient(#ddd 0%, #A8A8A8 100%);
    background-image: linear-gradient(#ddd 0%, #A8A8A8 100%); }
  .button-full {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }

.primary-button {
  background: #516173;
  font-size: 1.8rem;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .primary-button-small {
    padding: .8rem; }

.secondary-button {
  font-weight: 700;
  color: #246250;
  background-image: -webkit-linear-gradient(#96C9BA 0%, #6DA995 100%);
  background-image: -o-linear-gradient(#96C9BA 0%, #6DA995 100%);
  background-image: linear-gradient(#96C9BA 0%, #6DA995 100%); }

.modal-box {
  max-width: 46.4rem;
  margin: 1.6rem auto;
  padding: 7rem 10rem 10rem;
  color: #7D6000;
  background-color: #EFB701;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 464px) {
    .modal-box {
      padding: 2.4rem;
      margin: 0;
      border-radius: 0;
      min-height: 100vh;
      box-shadow: none; } }
  .modal-box .primary-button {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    width: 100%; }
  .modal-box .button + .primary-button {
    margin-top: .8rem; }
  .modal-box .blockLabels {
    border: none; }
  .modal-box .ctrlHolder {
    margin: 1.6rem 0; }

.login {
  font-size: 2.4rem;
  max-width: 46.4rem;
  margin: 1.6rem auto 0;
  padding: 7rem 10rem 10rem;
  color: #7D6000;
  background-color: #EFB701;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 464px) {
    .login {
      padding: 2.4rem;
      margin: 0;
      border-radius: 0;
      min-height: 100vh;
      box-shadow: none; } }
  .login .logo {
    margin: 0 auto;
    display: block; }
  .login .page-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1.6rem 0;
    color: #7D6000; }
  .login .logo + .page-title {
    margin-top: 4rem; }
  .login .text-input {
    font-size: 2.4rem;
    width: 100%;
    margin: 2.4rem 0; }
  .login ::placeholder {
    color: #7D6000;
    opacity: 1; }
  .login :-ms-input-placeholder {
    color: #7D6000; }
  .login ::-ms-input-placeholder {
    color: #7D6000; }
  .login .text-link {
    font-size: 1.2rem;
    color: #7D6000;
    display: block;
    text-align: right; }
  .login .primary-button {
    width: 100%;
    margin: 2.4rem 0 0; }

.companies .list-companies {
  margin: 3.2rem 0; }

.companies .secondary-button {
  margin: 3.2rem auto; }
