* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font: normal 1.6rem/1.5 sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666;
  background-color: #5A574E; }

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 25rem;
  background-color: #EFB701;
  z-index: -1; }

.single {
  background-image: none; }

.single::before {
  content: none;
  background-image: none; }

a, svg {
  transition: all .2s; }

.page-title, .page-subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.6rem 0;
  line-height: 1.2;
  color: #666; }

.page-subtitle {
  color: #5A574E; }

.hidden {
  visibility: hidden; }

.text-center {
  text-align: center; }

.center {
  margin: 0 auto; }

.a--right {
  margin-left: auto;
  display: block; }

.uppercase {
  text-transform: uppercase; }

.flex {
  display: flex; }

.align-self-t {
  align-self: flex-start; }

.block {
  display: block; }

.strong {
  font-weight: 700; }

.text-center {
  text-align: center; }

.icon-left {
  padding-left: 1.6rem; }

.icon-tag {
  background: url(../imgs/tag.svg) left center no-repeat;
  background-size: 1.2rem; }

.relative {
  position: relative; }

.grid {
  display: grid; }

.grid-sidebar {
  grid-template-columns: 20rem 4fr;
  grid-template-rows: repeat(2, 10rem) 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1.6rem; }

.grid-two-col {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.6rem; }

.width-100 {
  width: 100%; }

.width-80 {
  width: 80%; }

.width-50 {
  width: 50%; }

.m-tb--0 {
  margin: 0 auto; }

.m-all--0 {
  margin: 0; }

.m-tb--xs {
  margin: 0.8rem 0; }

.m-tb--s {
  margin: 1.6rem 0; }

.m-tb--m {
  margin: 3.2rem 0; }

.m-tb--l {
  margin: 4rem 0; }

.m-tb--xl {
  margin: 4.8rem 0; }

.m-tb--xxl {
  margin: 5.6rem 0; }

.m-top--0 {
  margin-top: 0; }

.m-top--xs {
  margin-top: 0.8rem; }

.m-top--s {
  margin-top: 1.6rem; }

.m-top--m {
  margin-top: 3.2rem; }

.m-top--l {
  margin-top: 4rem; }

.m-top--xl {
  margin-top: 4.8rem; }

.m-top--xxl {
  margin-top: 5.6rem; }

.m-bottom--0 {
  margin-bottom: 0; }

.m-bottom--xs {
  margin-bottom: 0.8rem; }

.m-bottom--s {
  margin-bottom: 1.6rem; }

.m-bottom--m {
  margin-bottom: 3.2rem; }

.m-bottom--l {
  margin-bottom: 4rem; }

.m-bottom--xl {
  margin-bottom: 4.8rem; }

.m-bottom--xxl {
  margin-bottom: 5.6rem; }

.m-rl--xs {
  margin-right: 0.8rem;
  margin-left: 0.8rem; }

.m-rl--s {
  margin-right: 1.6rem;
  margin-left: 1.6rem; }

.m-rl--m {
  margin-right: 3.2rem;
  margin-left: 3.2rem; }

.m-rl--l {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-rl--xl {
  margin-right: 4.8rem;
  margin-left: 4.8rem; }

.m-rl--xxl {
  margin-right: 5.6rem;
  margin-left: 5.6rem; }

.m-r--auto {
  margin-right: auto; }

.m-l--auto {
  margin-left: auto; }

.classless-form p {
  margin: 1.6rem 0; }

.text-input {
  background-color: transparent;
  color: #666;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: 2px solid #807f7f;
  padding: .8rem;
  display: block;
  font-size: 1.6rem; }

select {
  border: none;
  color: #666;
  background-color: #e6e5e5;
  font-size: 1.6rem;
  min-height: 3.2rem; }

label {
  display: block;
  margin-bottom: .4rem; }

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  padding: .8rem;
  color: #666;
  font-size: 1.6rem;
  width: 100%;
  margin: .8rem 0; }

select {
  width: 100%;
  border: none;
  color: #666;
  font-size: 1.6rem;
  min-height: 3.2rem; }
  select option {
    padding: .4rem .8rem; }

.assign-container .assign-label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px; }

.assign-container .assign-label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px; }

.assign-container .assign-checkbox {
  visibility: hidden; }

.assign-container .assign-checkbox:checked + .assign-label {
  background-color: #66bb6a;
  border-color: #66bb6a; }

.assign-container .assign-checkbox:checked + .assign-label:after {
  opacity: 1; }

.search-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none; }

.button {
  padding: 1.6rem 2.4rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700; }
  .button-small {
    padding: .8rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #666;
    background-image: -webkit-linear-gradient(#f0f0f0 0%, #BDBDBD 100%);
    background-image: -o-linear-gradient(#f0f0f0 0%, #BDBDBD 100%);
    background-image: linear-gradient(#f0f0f0 0%, #BDBDBD 100%); }
  .button-full {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }

.primary-button {
  background: #516173;
  font-size: 1.8rem;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .primary-button-small {
    padding: .8rem;
    font-size: 1.2rem; }

.secondary-button {
  font-weight: 700;
  color: #246250;
  background-image: -webkit-linear-gradient(#96C9BA 0%, #6DA995 100%);
  background-image: -o-linear-gradient(#96C9BA 0%, #6DA995 100%);
  background-image: linear-gradient(#96C9BA 0%, #6DA995 100%); }
  .secondary-button-small {
    padding: .8rem;
    font-size: 1.2rem; }

.button-add {
  background-color: #6DA995;
  margin: 3.2rem 0 0 auto; }

.button-search {
  border-radius: 0 .4rem .4rem 0;
  text-transform: uppercase;
  color: #666;
  background-image: -webkit-linear-gradient(#f0f0f0 0%, #BDBDBD 100%);
  background-image: -o-linear-gradient(#f0f0f0 0%, #BDBDBD 100%);
  background-image: linear-gradient(#f0f0f0 0%, #BDBDBD 100%); }

.single .modal-box {
  background-color: #EFB701;
  color: #666;
  max-width: 46.4rem;
  padding: 7rem 10rem 10rem; }

.single .text-input {
  color: #7D6000;
  border-bottom: 2px solid #b08700; }

.modal-box {
  max-width: 66%;
  min-height: 40rem;
  margin: 0 auto 1.6rem;
  padding: 4rem 7rem;
  color: #666;
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 464px) {
    .modal-box {
      padding: 2.4rem;
      margin: 0;
      border-radius: 0;
      min-height: 100vh;
      box-shadow: none; } }
  .modal-box.dashboard {
    max-width: 66%; }
  .modal-box .primary-button {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    width: 100%; }
  .modal-box .button + .primary-button {
    margin-top: .8rem; }
  .modal-box .blockLabels {
    border: none; }
  .modal-box .ctrlHolder {
    margin: 1.6rem 0; }
  .modal-box .modal-link {
    color: #666;
    display: block;
    text-decoration: none;
    position: relative;
    padding: .4rem .8rem;
    border-radius: .4rem;
    background-color: #e6e5e5;
    margin-bottom: .8rem; }
    .modal-box .modal-link:hover {
      text-decoration: none; }

.modal-inside {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 3.2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal-inside-content {
    background-color: #fff;
    margin: auto;
    padding: 3.2rem;
    position: relative;
    border-radius: .8rem; }
    .modal-inside-content .close {
      position: absolute;
      padding: .8rem;
      line-height: .6;
      color: #fff;
      background-color: #000;
      border-radius: 50%;
      border: 2px solid;
      right: -.8rem;
      top: -.8rem;
      cursor: pointer; }
    .modal-inside-content .page-subtitle {
      margin-top: 0; }
    .modal-inside-content input + .page-subtitle {
      margin-top: 1.6rem; }
    .modal-inside-content .primary-button {
      margin-top: 0; }

.modal-link {
  color: #666;
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  padding: .4rem .8rem;
  border-radius: .4rem;
  background-color: #e6e5e5;
  background-image: linear-gradient(-180deg, #FAFAFA 0%, #E6E6E6 100%);
  border: 1px solid #e6e6e6;
  margin-bottom: .8rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25); }

.avatar {
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  border-radius: 50%;
  background: gray url(../imgs/profile-neutral.png) no-repeat center;
  background-size: contain; }

.global-header {
  display: flex;
  align-items: center;
  padding: 3.2rem; }
  @media screen and (max-width: 820px) {
    .global-header {
      display: block;
      text-align: center;
      padding-bottom: .8rem; } }
  .global-header .nav {
    margin-left: auto;
    position: relative; }
    @media screen and (max-width: 820px) {
      .global-header .nav {
        display: inline-block; } }
    .global-header .nav-item {
      display: inline-block;
      font-weight: 700; }
    .global-header .nav-item + .nav-item {
      margin-left: 1.6rem; }
    .global-header .nav-link {
      color: #7D6000;
      text-decoration: none;
      padding: .8rem; }
    .global-header .nav .dropdown {
      text-align: right; }
      .global-header .nav .dropdown .dropdown-item {
        color: #7D6000; }
        .global-header .nav .dropdown .dropdown-item:first-child {
          padding: .8rem;
          display: flex;
          align-items: center; }
        .global-header .nav .dropdown .dropdown-item:last-child {
          display: none;
          position: absolute;
          padding: .8rem;
          right: 0;
          font-weight: 400; }
        .global-header .nav .dropdown .dropdown-item .down-arrow {
          margin-left: .8rem; }
      .global-header .nav .dropdown:hover {
        background-color: #fff;
        border-radius: .8rem; }
        .global-header .nav .dropdown:hover .dropdown-item:first-child {
          border-radius: .8rem .8rem 0 .8rem;
          display: flex; }
        .global-header .nav .dropdown:hover .dropdown-item {
          display: block;
          background-color: #ffe38a;
          border-radius: 0 0 .8rem .8rem; }

.tabs + .tab-content {
  border-radius: 0 0.8rem 0.8rem 0.8rem; }

.tab-content {
  background-color: #f8f8f8;
  padding: 1.6rem;
  border-radius: 0.8rem; }
  .tab-content--item {
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;
    margin: 0.8rem 0 0.4rem 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    grid-template-columns: 1fr max-content;
    grid-column-gap: 4rem; }
    .tab-content--item-link {
      padding: 1.6rem;
      color: #666;
      text-decoration: none;
      opacity: .8; }
      .tab-content--item-link:hover {
        color: #246250;
        opacity: 1; }
    .tab-content--item .score-number {
      font-size: 3.2rem;
      margin-right: 1.6rem; }
  .tab-content--item:first-child {
    margin-top: 0; }
  .tab-content--item:last-child {
    margin: 0; }

.show-app {
  font-size: 1.2rem;
  color: #666;
  margin-left: 1.6rem; }
  .show-app input[type="checkbox"] {
    margin-right: 0.8rem; }

.competencia-single .tab-content--item {
  background-color: #f8f8f8;
  border: 3px double #cccccc;
  box-shadow: none; }

.competencia-single .item-title {
  font-size: 3.2rem;
  padding: 1.6rem;
  color: #4d4c4c; }

.competencia-single .score-number {
  color: #4d4c4c; }

.competencia-single .tool {
  margin: 0 1.6rem; }

.content--item {
  padding: 1.6rem;
  display: flex;
  align-items: stretch; }
  .content--item + .content--item {
    margin-top: 1.6rem; }
  .content--item.media--container {
    display: grid;
    grid-template-columns: minmax(max-content, 25rem) 3fr;
    grid-column-gap: 1.6rem; }
  .content--item .content--media {
    width: 100%;
    height: auto;
    background-color: #516173; }
  .content--item .content-info {
    grid-template-columns: 1fr 1fr; }
    .content--item .content-info .item-title,
    .content--item .content-info .content-tag,
    .content--item .content-info .content-text {
      grid-column: 1/3; }
    .content--item .content-info .item-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .content--item .content-info .show-app {
      display: inline-block;
      margin-left: 0;
      align-self: flex-end; }
    .content--item .content-info .button {
      grid-column: 2;
      margin-left: auto;
      padding: 0.8rem 3.2rem; }

.full-content {
  margin-top: 3.2rem; }
  .full-content .content--item {
    padding: 1.6rem 0; }
  .full-content .content--item + .content--item {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 3.2rem; }

.grid-two-col .content--item {
  margin: 0; }

.grid-two-col .content--item + .content--item {
  margin-top: 0; }

.login {
  font-size: 2.4rem;
  max-width: 46.4rem;
  margin: 1.6rem auto 0;
  padding: 7rem 10rem 10rem;
  color: #7D6000;
  background-color: #EFB701;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 464px) {
    .login {
      padding: 2.4rem;
      margin: 0;
      border-radius: 0;
      min-height: 100vh;
      box-shadow: none; } }
  .login .logo {
    margin: 0 auto;
    display: block; }
  .login .page-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1.6rem 0;
    color: #7D6000; }
  .login .logo + .page-title {
    margin-top: 4rem; }
  .login .text-input {
    font-size: 2.4rem;
    width: 100%;
    margin: 2.4rem 0; }
  .login ::placeholder {
    color: #7D6000;
    opacity: 1; }
  .login :-ms-input-placeholder {
    color: #7D6000; }
  .login ::-ms-input-placeholder {
    color: #7D6000; }
  .login .text-link {
    font-size: 1.2rem;
    color: #7D6000;
    display: block;
    text-align: right; }
  .login .primary-button {
    width: 100%;
    margin: 2.4rem 0 0; }

.companies .list-companies {
  margin: 3.2rem 0; }

.companies .secondary-button {
  margin: 3.2rem auto; }

.dashboard .page-title {
  margin-top: 0; }

.dashboard-sections {
  display: flex; }
  @media screen and (max-width: 820px) {
    .dashboard-sections {
      display: block; } }
  .dashboard-sections .section-container {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    border: 1px solid #cccccc;
    border-radius: .8rem; }
    @media screen and (max-width: 820px) {
      .dashboard-sections .section-container {
        width: 100%; } }
    .dashboard-sections .section-container--2-col {
      width: 48%; }
    .dashboard-sections .section-container .page-subtitle {
      color: #666;
      margin-top: 0; }
    .dashboard-sections .section-container .list {
      margin-bottom: 1.6rem;
      display: flex;
      flex-wrap: wrap; }
    .dashboard-sections .section-container .list-leader-item {
      line-height: 1.3;
      flex-basis: 48%; }
      .dashboard-sections .section-container .list-leader-item .avatar {
        float: left;
        margin-right: .8rem; }
      .dashboard-sections .section-container .list-leader-item--name {
        font-size: 1.4rem; }
      .dashboard-sections .section-container .list-leader-item--position {
        font-size: 1rem;
        font-weight: 400; }
      .dashboard-sections .section-container .list-leader-item--advance {
        position: absolute;
        top: .4rem;
        right: .8rem;
        font-size: 2.6rem;
        font-weight: 400; }
    .dashboard-sections .section-container .list-leader-item:nth-child(even) {
      margin-left: 2%; }
    .dashboard-sections .section-container .secondary-button {
      margin-top: auto; }
  .dashboard-sections .section-container + .section-container {
    margin-left: auto; }
    @media screen and (max-width: 820px) {
      .dashboard-sections .section-container + .section-container {
        margin-top: 1.6rem; } }

.page {
  padding: 3.2rem;
  color: #666;
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .page-header {
    grid-column: 1/3;
    grid-row-start: 1; }

.featured-img {
  background-color: #ccc;
  height: 20rem;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3; }

.title-header {
  grid-row: 1;
  grid-column: 2/3; }
  .title-header .page-title {
    font-size: 3.2rem; }
  .title-header .page-subtitle {
    font-size: 1.6rem;
    font-weight: 400; }
    .title-header .page-subtitle .company-size::before {
      content: "|";
      margin: 0 .8rem; }

.grid-sidebar .tools {
  grid-column: 1/2; }

.grid-sidebar .tool + .tool {
  margin-top: 1.6rem; }

.score-global {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  font-size: 5.6rem;
  line-height: 1;
  text-align: right; }

.tab {
  display: inline-block;
  margin: 0.8rem 0; }
  .tab + .tab {
    margin-left: 3.2rem; }

.tab-link {
  color: #666;
  opacity: .5;
  padding: 0.8rem;
  text-decoration: none; }
  .tab-link:hover {
    opacity: 1; }

.is-current {
  color: #246250;
  opacity: 1;
  font-weight: 700;
  border-bottom: 3px solid; }

.content {
  grid-column: 2/3;
  grid-row: 2/-1; }

.competencia + .competencia {
  margin-top: 1.6rem; }

.edit-icon {
  width: 1.6rem;
  opacity: .4; }
  .edit-icon:hover {
    opacity: .8; }

.content-add-header {
  justify-content: space-between;
  flex-wrap: wrap; }
  .content-add-header .competencia-single-title {
    display: inline-block;
    font-size: 3.2rem; }
  .content-add-header .score-global {
    font-size: 3.2rem;
    padding: 1.6rem;
    border: 2px solid #eee;
    align-self: center; }
  .content-add-header .search-form {
    flex-basis: 100%; }
    .content-add-header .search-form .search-container {
      border-radius: 0.8rem;
      justify-content: space-between; }

.search-results {
  flex-wrap: wrap; }
  .search-results-message {
    margin: auto;
    padding: 14.4rem 0; }
    .search-results-message-link {
      display: block; }
  .search-results .tab-content--item {
    box-shadow: none;
    background-color: #f0f0f0; }
    .search-results .tab-content--item .content--media {
      width: 40%; }
    .search-results .tab-content--item .content-info {
      grid-template-columns: 8fr 1fr; }
      .search-results .tab-content--item .content-info .item-title,
      .search-results .tab-content--item .content-info .content-tag,
      .search-results .tab-content--item .content-info .content-text {
        grid-column: 1/2; }
      .search-results .tab-content--item .content-info .assign-container {
        grid-row: 1/4;
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
        width: 40%; }

.search-results--item {
  margin-top: 1.6rem; }

.lider .tab-content--item-link {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1.6rem; }

.lider-img {
  background-color: #ccc;
  width: 9.6rem;
  height: 5.6rem;
  grid-column: 1/2;
  grid-row: 1/3; }

.lider .item-title, .lider-puesto {
  grid-column: 2/3;
  align-self: flex-end; }

.lider-puesto {
  align-self: flex-start; }

.reactivo .item-title {
  font-weight: 400; }

.reactivo + .reactivo {
  margin-top: 1.6rem; }
