/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box; /* SACRED. (http://css-tricks.com/box-sizing/) */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* menu */
.html-overflow-active{
    height: 100%;
}

.overflow-active{
    -webkit-overflow-scrolling: touch;
    /* -webkit-overflow-scrolling: auto !important; */
    overflow: hidden;
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
}

.aside-overflow-active {
    top: 50px;
    position: relative;}

    @media (max-width: 800px) {
        .tab-menu li{
            margin-right: 20px;} }
    @media (max-width: 400px) {
        .hero-nav-close {
            top: 80px;
            right: 30px;} }

ol, ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
