.sa-timeline {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 3px;
    background: #2C3E50;
}

.sa-timeline .empty {
    background: #fff;
    height: 100%;
    flex: 1;
}

.sa-timeline .start {
    margin-right: -50px;
}

.sa-timeline .end {
    margin-left: -50px;
}

.sa-timeline .bullet {
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.sa-timeline .bullet.small {
    width: 10px;
    height: 10px;
}

.sa-timeline .bullet span {
    width: 95px;
    height: 1px;
    position: absolute;
    top: -35px;
    left: -35px;
    text-align: center;
}

.sa-timeline .bullet span::before {
    content: attr(data-title);
    top: -35px;
    left: -35px;
    width: 70px;
    font-size: 12px;
    text-align: center;
}

.sa-timeline .bullet span::after {

}
