.info {
    font-style: italic;
    font-size: 12px;
}

.dataTables_length select {
    width: 50px !important;
}

.dataTables_length label {
    padding-left: 20px;
}

.dataTables_filter label {
    padding-right: 20px;
}

.dataTables_paginate .pagination {
    padding: 20px 20px 20px 0;
}
.dataTables_info {
    padding: 25px 0 0 20px !important;
}

.font-size-icon-table {
    font-size: 20px;
}

.timeline-header {
    padding-left: 0;
}

.shipment-status-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.shipment-actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.shipment-modal-header {
    background-image: url(https://sealedair.com/sites/default/files/01.1-1_imageFood_1440x460.jpg);
    background-blend-mode: soft-light;
    background-color: #1f2b17cc;
    background-size: cover;
    color: white;
}

.shipment-modal-header label {
    color: white;
}
