.info {
    font-style: italic;
    font-size: 12px;
}

.dataTables_length select {
    width: 50px !important;
}

.dataTables_length label {
    padding-left: 20px;
}

.dataTables_filter label {
    padding-right: 20px;
}

.dataTables_paginate .pagination {
    padding: 20px 20px 20px 0;
}
.dataTables_info {
    padding: 25px 0 0 20px !important;
}

.font-size-icon-table {
    font-size: 20px;
}

.timeline-header {
    padding-left: 0;
}

.shipment-status-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.shipment-actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


/* Avatar form edit profile user */
.mask-profile > input {
    display: none;
}
#output {
    cursor: pointer;
    width: 220px !important;
}

.shipment-modal-header {
    /*background-image: url(https://sealedair.com/sites/default/files/01.1-1_imageFood_1440x460.jpg);*/
    background-blend-mode: soft-light;
    /*background-color: #1f2b17cc;*/
    background-size: cover;
    /*color: white;*/
}

.shipment-modal-header label {
    /*color: white;*/
}

.errors-description {
    padding-top: 10px;
    font-size: 13px !important;
    color: #5a5a5a;
}

.errors-description li {
    list-style: none;
}

.modal-scroll-panel {
    min-height: 590px;
    max-height: 590px;
    overflow-y: scroll;
}

.avatar-margin-right {
    margin-right: 20px;
}

.scroll-panel-comments {
    min-height: calc(590px - 3.692rem);
    max-height: calc(590px - 3.692rem);
}

.center-things {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.small-input {
    max-width: 250px;
}

.crossed {
    text-decoration: line-through;
}

.shipment-total-time {
    color: blue;
}
