{% extends 'admin/includes/containers/simple_form.html' %}
{% load static %}

{% block title %}Colección{% endblock %}

{% block fields %}
  {% include 'content/includes/fields/skill.html' %}

  <label class="form-label strong block m-top--s" for="id_name">Nombre</label>
  <input class="text-input block width-100" type="text" name="name" maxlength="150" required="" id="id_name" value="{% firstof form.name.value '' %}">

  <label class="form-label strong block m-top--s" for="id_generation">Generación</label>
  {{ form.generation }}

  <label class="form-label strong block m-top--s" for="id_level_of_hierarchy">Nivel jerárquico</label>
  {{ form.level_of_hierarchy }}
{% endblock %}
