{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="pt60">
  <div class="l-wrapp-hidden-widescreen pb80">
    <div class="columns">
      <div class="column is-half pr70">
        <h1 class="txt48 mb50">
          <strong>What we do</strong>
        </h1>
        <p class="mb40">
            We create great digital products by taking the best out of design, technology and strategy, which means having a team with a variety of skills following a structured process to continuously deliver value to your business.
        </p>

        <a class="icon-arrow-button-down"></a>
      </div>
      <div class="column is-half is-flex-tablet">
        <div class="is-right has-img">
          <img src="{% static 'img/working.svg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-red-gradient has-texture pt60 pb80">
    <div class="wrap">
        <div class="columns">
            <div class="column is-two-thirds pr70">
                <img src="{% static 'img/brainstorm-meeting.jpg' %}" alt="">
            </div>
            <div class="column is-one-thirds">
                <p class="txt18 c-white">1/4</p>
                <h1 class="txt36 mb20 c-white"><strong>Discover & Conceptualize</strong></h1>

                <p class="mb40 c-white">Using different tools like Design Sprint, User Experience Design and Product Management, we focus on ensuring that the software solves a real problem in a way that is helpful to your users and your business.</p>

                <p class="c-white">
                  <strong>Outcomes / Deliverables:</strong>
                  <ul class="mb40 c-white">
                    <li>Product brief</li>
                    <li>Customer journey map</li>
                    <li>Low-fidelity wireframes</li>
                    <li>Real-looking prototype</li>
                    <li>Findings from the user testing</li>
                    <li>Report with next steps</li>
                  </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white has-texture pt60 pb80">
    <div class="wrap">
        <div class="columns">
            <div class="column is-one-thirds">
                <p class="txt18">2/4</p>
                <h1 class="txt36 mb20"><strong>Plan & Design</strong></h1>

                <p class="mb40">Once we have enough certainty about the product, we polish the interface design, write detailed user stories, prioritize features, do data modeling, etc. The goal is to know what's needed to build the product and give the development team what they need to do so.</p>

                <p>
                  <strong>Outcomes / Deliverables:</strong>
                  <ul class="mb40">
                    <li>Detailed user stories</li>
                    <li>Acceptance criteria</li>
                    <li>Revised wireframes</li>
                    <li>System architecture</li>
                    <li>Database design</li>
                    <li>Finished UI design</li>
                  </ul>
                </p>
            </div>
            <div class="column is-two-thirds pl70">
                <img src="{% static 'img/software-development-planning-session.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bg-blue-gradient has-texture pt60 pb80">
    <div class="wrap">
        <div class="columns">
            <div class="column is-two-thirds pr70">
                <img src="{% static 'img/coding.jpg' %}" alt="">
            </div>
            <div class="column is-one-thirds">
                <p class="txt18 c-white">3/4</p>
                <h1 class="txt36 mb20 c-white"><strong>Build & Launch</strong></h1>

                <p class="mb40 c-white">This is where we focus on the actual development of the product, applying industries' best practices such as test-driven development, continuous integration / deployment, short iterations, code review, among others.</p>

                <p class="c-white">
                  <strong>Outcomes / Deliverables:</strong>
                  <ul class="mb40 c-white">
                    <li>Shipped funcionality every two weeks</li>
                    <li>Weekly project status</li>
                    <li>Stable & maintainable codebase</li>
                    <li>User manual</li>
                    <li>Full source code</li>
                  </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white has-texture pt60 pb80">
    <div class="wrap">
        <div class="columns">
            <div class="column is-one-thirds">
                <p class="txt18">4/4</p>
                <h1 class="txt36 mb20"><strong>Iterate & Scale</strong></h1>

                <p class="mb40">When your digital product is released you need to keep making improvements to it: optimizations, new features, improvements to existing features, automate backups, track KPIs, among other things. That's why after shipping your product we continue to work together on a retainer fee, so you can focus on growing your business while we take care of the technology.</p>

                <p>
                  <strong>Outcomes / Deliverables:</strong>
                  <ul class="mb40">
                    <li>New releases every two weeks</li>
                    <li>Product management</li>
                    <li>Development operations</li>
                    <li>Application performance monitoring</li>
                  </ul>
                </p>
            </div>
            <div class="column is-two-thirds pl70">
                <img src="{% static 'img/laptops.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bg-green-gradient has-texture c-white ptb60">
  <div class="wrap">
    <div class="columns">
      <div class="column is-align-middle has-text-centered">
        <h1 class="txt36 mb20"><strong>Ready to take your business to the next level?</strong></h1>

        <a href="{% url 'website:projects' %}" class="button bg-white c-red has-arrow is-right mb20">View our work</a>

        <a href="{% url 'website:quote' %}" class="button bg-red c-white has-arrow is-right mb20">Request Quote</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
