{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
<section class="mb80">
  {% image page.feed_image original as cover_photo %}
  <div class="hero-img bg-img" style="background-image: url('{{ cover_photo.url }}');"></div>
</section>

<section class="pb60">
	<div class="wrap">
		<div class="columns">
			<div class="column is-blog">
				<div class="has-text pb80">
          <h4 class="c-black txt36 mb40"><strong>{{ page.title }}</strong></h4>
          <p><strong>{{ page.date }}</strong></p>
          {{ page.body | richtext  }}
				</div>
				<div class="columns">
					<div class="column">
						<p class="txt28 pb20">Contributors</p>
						<div class="is-flex">
              <div class="bg-img profile-img is-align-middle" style="background-image: url('{{ page.owner.wagtail_userprofile.avatar.url }}');"></div>
							<div class="profile-info is-align-middle">
                <p><strong>{{ page.owner.get_full_name }}</strong></p>
								<p>Designing and building products for the next billion users first</p>
							</div>
						</div>
					</div>
					<div class="column">
						<p class="txt28 pb20">Tags</p>
						<div class="has-inline-list">
              {% for tag in page.tags.all %}
              <a href="#" class="tag-button bg-red c-white mb10">{{ tag }}</a>
              {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-blue-gradient has-texture c-white ptb60">
	<div class="wrap">
		<div class="columns">
			<div class="column is-one-third is-align-middle">
				<h1 class="txt36 mb20"><strong>Where do we enter the equation?</strong></h1>
				<h2 class="txt30 c-white mb20">UX Design</h2>
				<p class="mb40">Technology is the means to solve human problems. That is why, through a multidisciplinary approach, we conduct conversations with our clients to devise and build products that reconcile technology, design and business.</p>
				<a href="#" class="is-hidden-mobile button bg-white c-red has-arrow is-right">Related Projects</a>
			</div>
			<div class="column is-two-thirds is-align-middle">
				<div class="columns">
					<div class="column is-align-bottom has-text-right-tablet is-hidden-mobile">
						<p><strong>Premio Santander</strong></p>
						<p>UX / UI</p>
					</div>
					<div class="column max520">
            <img src="{% static 'img/img6.png' %}" alt="" class="has-shadow">
					</div>
					<!-- HIDDEN  -->
					<div class="column is-align-bottom has-text-right-tablet is-hidden-tablet">
						<p><strong>Premio Santander</strong></p>
						<p>UX / UI</p>
					</div>
					<!-- HIDDEN  -->
				</div>
			</div>
			<div class="column is-hidden-tablet">
				<a href="#" class="button bg-white c-red has-arrow is-right">Related Projects</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
