{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column is-half">
                <div class="is-block mb40">
                    <h1 class="txt36 mb20"><strong>Together, we can reach new horizons</strong></h1>
                    <p>We are a software developent and design agency. We think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                </div>
                <div class="is-block">
                    <a class="icon-arrow-button-down"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-green-gradient has-texture c-white ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column">
                <h3 class="c-white txt26 pb20">Filter projects by type:</h3>
            </div>
        </div>
        <div class="columns pb40">
            <ul class="column has-inline-list tab-menu is-bold">
                <li><a href="#tab-1" class="c-red"><span>ALL</span></a></li>
                <li><a href="#tab-2" class="c-red"><span>UX</span></a></li>
                <li><a href="#tab-3" class="c-red"><span>UI</span></a></li>
                <li><a href="#tab-4" class="c-red"><span>Mobile</span></a></li>
                <li><a href="#tab-5" class="c-red"><span>Web</span></a></li>
                <li><a href="#tab-6" class="c-red"><span>Digital</span></a></li>
            </ul>
        </div>

        <div class="is-inline-block  has-columns" style="width: 100%;">
            <div id="tab-1" class="tab-content">
                <div class="grid mb40">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                              <a href="{% url 'website:article' %}">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>How Technology is Hijacking Your Mind — from a Magician and Google Design Ethicist</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>Stop Saying Technology is Causing Social Isolation</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>If You’re so Smart, Why Aren’t You Rich? Turns Out it’s Just Chance</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="grid mb40">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>How Technology is Hijacking Your Mind — from a Magician and Google Design Ethicist</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>Stop Saying Technology is Causing Social Isolation</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="fade is-one-col-inline is-inline-block has-column">
                            <div class="rectangular-card">
                                <a href="#">
                                    <div class="bg-img" style="background-image: url('{% static 'img/img2.png' %}');"></div>
                                    <div class=" bg-white p30">
                                        <div class="border-bottom-1px pb20"><h3 class="txt26 c-red"><strong>The Future of Design in Technology</strong></h3></div>
                                        <div class="pt20">
                                            <p class="c-black">UX</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
