{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page-head">
    <h2 class="page-head-title">Embarques </h2> 
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Nuevo embarque</li>
        </ol>
    </nav>
</div>
<div class="main-content container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-table">
          <div class="card-header">Nuevo embarque 
            {{form.as_p}}
          </div>

        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}