{% extends 'base-full.html' %}
{% load static %}

{% block title_actions %}
  <button class="button secondary-button secondary-button-small block m-l--auto align-self-t" type="button">Recalcular asignación automática</button>
{% endblock %}

{% block menu %}
  <div class="competencia competencia-single">
    <div class="tab-content--item">
      <h2 class="item-title">
        {{ object.name }} <a href="{% url 'admin:skill-update' object.id %}">{% include 'admin/includes/components/edit_button.html' %}</a>
      </h2>
    </div>
  </div>

  {{ block.super }}
{% endblock %}

{% block inner_content_classes %}relative{% endblock %}

{% block inner_content %}
  {% for lesson in object.lessons.all %}
    <div class="content--item tab-content--item media--container">
      <div class="content--media" style="background-image: url({{ lesson.get_thumbnail }});"></div>

      <div class="content-info grid">
        <h3 class="item-title">{{ lesson.name }}</h3>

        <span class="content-tag icon-left icon-tag">{{ lesson.get_type }}</span>

        <p class="content-text m-tb--s">
          {{ lesson.description | truncatechars:"255"}}
        </p>

        <label class="show-app">
          <input type="checkbox" id="cbox1" value="first_checkbox" {% if lesson.default %}checked{% endif %}>
          Mostrar por defecto
        </label>

        <a class="button button-small" href="{{ lesson.get_update_url }}">Editar</a>
      </div>
    </div>
  {% empty %}
    <p>No existe contenido para esta competencia.</p>
  {% endfor %}
{% endblock %}

{% block bottom_actions %}
  <a href="{% url 'content:intro-add' %}?skill={{ object.id }}">
    <button class="button button-add secondary-button block">Agrega intro</button>
  </a>
  <a href="{% url 'content:video-add' %}?skill={{ object.id }}">
    <button class="button button-add secondary-button block">Agrega video</button>
  </a>
  <a href="{% url 'content:article-add' %}?skill={{ object.id }}">
    <button class="button button-add secondary-button block">Agrega articulo</button>
  </a>
  <a href="{% url 'content:activity-add' %}?skill={{ object.id }}">
    <button class="button button-add secondary-button block">Agrega actividades</button>
  </a>
{% endblock %}
