{% extends 'base-full.html' %}
{% load static %}

{% block title %}Competencias{% endblock %}

{% block inner_content %}
  {% for skill in object_list %}
    <div class="competencia tab-content--item">
      <span class="right-actions">
        <a href="{% url 'admin:skill-detail' skill.id %}" class="button button-small" type="button">Editar</a>
      </span>

      <a href="#" class="tab-content--item-link block skill-card">
        <img class="skill-expand" src="{% static 'imgs/expand-more.svg' %}" />
        <img class="skill-expand" src="{% static 'imgs/expand-less.svg' %}" style="display: none;" />

        <h3 class="item-title">
          {{ skill.name }}
        </h3>
      </a>

      <ul class="skill-collections" style="display: none;">
        <li>
          <a href="{% url 'admin:skill-detail' skill.id %}">
            General
          </a>
        </li>
        <li>Directivos</li>
        <li>Operativos millenials</li>
      </ul>
    </div>
  {% empty %}
    <p>No existe ninguna competencia.</p>
  {% endfor %}
{% endblock %}

{% block bottom_actions %}
  <a href="{% url 'admin:skill-add' %}">
    <button class="button button-add secondary-button block">Agrega competencia</button>
  </a>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script src="{% static 'js/skill-list.js' %}"></script>
{% endblock %}
