{% extends 'base-content.html' %}
{% load static %}

{% block content %}
  <div class="page m-rl--m m-bottom--m company">
    <header class="page-header">
      <h1 class="page-title m-tb--0">Administrador de contenidos</h1>
    </header>
    <section class="content m-top--m">
      <nav class="tabs">
        <ul>
          <li class="tab"><a href="{% url 'admin:skill-list' %}" class="tab-link is-current">Competencias</a></li>
          <li class="tab"><a href="{% url 'admin:industry-list' %}" class="tab-link">Industrias</a></li>
          <li class="tab"><a href="{% url 'admin:company-list' %}" class="tab-link">Compañías</a></li>
        </ul>
      </nav>

      <section class="tab-content">
        {% for skill in object_list %}
          <div class="competencia tab-content--item">
            <a href="{% url 'admin:skill-update' skill.id %}" class="tab-content--item-link block">
              <h3 class="item-title">{{ skill.name }}</h3>
            </a>
          </div>
        {% empty %}
          <p>No existe ninguna competencia.</p>
        {% endfor %}
      </section>

      <a href="{% url 'admin:skill-add' %}">
        <button class="button button-add secondary-button block">Agrega competencia</button>
      </a>
    </section>

{% endblock %}
