{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="page-head">
    <h2 class="page-head-title">Embarques</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <button class="btn btn-space btn-primary btn-lg float-right"  data-toggle="modal" data-target="#new-shipment">
        <i class="icon icon-left mdi mdi-plus"></i> Nuevo embarque
      </button>
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active">Embarques</li>
      </ol>
    </nav>
  </div>

  <!-- shipment modal -->
  <div id="new-shipment" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-colored">
          <h3 class="modal-title">Nuevo embarque</h3>
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close">       </span></button>
        </div>

        <div class="modal-body">
          <div class="form-group row">
            <label for="id_plant" class="col-12 col-sm-3 col-form-label text-sm-right">Planta destino</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <select id="id_plant" class="form-control">
                <option value="AUR">Aurora, CO</option>
                <option value="DUN">Duncan, SC</option>
                <option value="IPT" selected="">Iowa Park, TX</option>
                <option value="SJO">Saint Joe, MO</option>
                <option value="STU">Sturtevant, WI</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_code" class="col-12 col-sm-3 col-form-label text-sm-right">Embarque</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <input id="id_code" type="text" placeholder="Introduce el número de embarque" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label for="id_carrier" class="col-12 col-sm-3 col-form-label text-sm-right">Carrier</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <select id="id_carrier" class="form-control">
                <option value="1" selected="">KLLM</option>
                <option value="2">CRE</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_trailer" class="col-12 col-sm-3 col-form-label text-sm-right">Trailer</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <input id="id_trailer" type="text" placeholder="Introduce el código de trailer" class="form-control">
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary md-close">Cancelar</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary md-close">Agregar embarque</button>
        </div>
      </div>
    </div>
  </div>

  <!-- shipment modal -->
  <div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog full-width">
      <div class="modal-content">
        <div class="modal-header modal-header-colored">
          <h3 class="modal-title">Embarque #124912</h3>
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close">       </span></button>
        </div>
        <div class="modal-body">
          <div class="col-md-6">
            <div class="form-group">
              <label>Número de embarque</label>
              <input type="text" value="u124912" class="form-control">
            </div>
          </div>

          <div class="main-content container-fluid">
          <div class="row">
            <div class="col-12">
              <ul class="timeline">
                <li class="timeline-item">
                  <div class="timeline-date"><span>September 16, 2016</span></div>
                  <div class="timeline-content">
                    <div class="timeline-avatar"><img src="{% static 'img/avatar6.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header"><span class="timeline-time">4:34 PM</span><span class="timeline-autor">Penelope Thornton</span>
                      <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattis</a>.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-item timeline-item-detailed">
                  <div class="timeline-date"><span>September 13, 2016</span></div>
                  <div class="timeline-content">
                    <div class="timeline-avatar"><img src="{% static 'img/avatar.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header"><span class="timeline-time">9:54 AM</span><span class="timeline-autor">Kristopher Donny  </span>
                      <p class="timeline-activity">Mauris condimentum est <a href="#">Viverra erat fermentum</a>.</p>
                      <div class="timeline-summary">
                        <p>Suspendisse ac libero sed mauris tempor vehicula porttitor non sapien. Aliquam viver... </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item timeline-item-detailed">
                  <div class="timeline-date"><span>August 6, 2016</span></div>
                  <div class="timeline-content">
                    <div class="timeline-avatar"><img src="{% static 'img/avatar4.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header"><span class="timeline-time">7:15 PM</span><span class="timeline-autor">Benji Harper </span>
                      <p class="timeline-activity">Mauris condimentum est <a href="#">Vestibulum justo neque</a>.</p>
                      <div class="timeline-summary">
                        <p>Quisque condimentum enim nec porttitor egestas. Morbi fermentum in ante volutpat... </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-date"><span>August 4, 2016</span></div>
                  <div class="timeline-content">
                    <div class="timeline-avatar"><img src="{% static 'img/avatar5.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header"><span class="timeline-time">12:02 PM</span><span class="timeline-autor">Justine Myranda </span>
                      <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattiss</a>.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-item timeline-item-detailed">
                  <div class="timeline-date"><span>June 11, 2016</span></div>
                  <div class="timeline-content">
                    <div class="timeline-avatar"><img src="{% static 'img/avatar3.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header"><span class="timeline-time">6:25 AM</span><span class="timeline-autor">Sherwood Clifford </span>
                      <p class="timeline-activity">pellentesque tortor <a href="#">Aliquam viverra</a>.</p>
                      <blockquote class="blockquote timeline-blockquote mb-0">
                        <p>Quisque condimentum enim nec porttitor egestas. </p>
                        <footer class="blockquote-footer">Aliquam viverra ornare dolor.</footer>
                      </blockquote>
                    </div>
                  </div>
                </li>
                <li class="timeline-item timeline-loadmore"><a href="#" class="load-more-btn">Load more</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary md-close">Cancel</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary md-close">Proceed</button>
        </div>
      </div>
    </div>
  </div>

  <div id="shipments-dashboard" class="main-content container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
                  <div class="widget widget-tile">
                    <div id="spark1" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Embarques</div>
                      <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="113" class="number">0</span>
                      </div>
                    </div>
                  </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-4">
                  <div class="widget widget-tile">
                    <div id="spark2" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Retrasados</div>
                      <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="21" class="number">0</span>
                      </div>
                    </div>
                  </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-4">
                  <div class="widget widget-tile">
                    <div id="spark3" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">A tiempo</div>
                      <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="92" class="number">0</span>
                      </div>
                    </div>
                  </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="card card-border card-contrast">
          <div class="card-header card-header-contrast">México</div>
          <div class="card-body">

            <div class="row">
              <div class="col-6">
                <h5 class="text-center"><strong>En tránsito</strong></h5>

                <shipments-column checkpoint="MTR">
                </shipments-column>
              </div>

              <div class="col-6">
                <h5 class="text-center"><strong>Carrier mexicano</strong></h5>

                <shipments-column checkpoint="MCA">
                </shipments-column>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <div class="card card-border card-contrast">
          <div class="card-header card-header-contrast">Laredo</div>
          <div class="card-body">

            <div class="row">
              <div class="col-6">
                <h5 class="text-center"><strong>Cruzando</strong></h5>

                <shipments-column checkpoint="BCR">
                </shipments-column>
              </div>

              <div class="col-6">
                <h5 class="text-center"><strong>US Carrier</strong></h5>

                <shipments-column checkpoint="BCA">
                </shipments-column>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">

        <div class="card card-border card-contrast">
          <div class="card-header card-header-contrast">Destino</div>
          <div class="card-body">

            <div class="row">
              <div class="col-6">
                <h5 class="text-center"><strong>En tránsito</strong></h5>

                <shipments-column checkpoint="UTR">
                </shipments-column>
              </div>

              <div class="col-6">
                <h5 class="text-center"><strong>Entregado</strong></h5>

                <shipments-column checkpoint="UDE" class="delivered">
                </shipments-column>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'lib/vue/vue.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('.modal').on('show.bs.modal', function(){
      $("html").addClass('be-modal-open');
    });

    $('.modal').on('hidden.bs.modal', function(){
      $("html").removeClass('be-modal-open');
    });
  </script>
{% endblock %}
