{% extends 'base.html' %}
{% load static %}
{% load l10n %}


{% block content %}
  <div class="page-head">
    <h2 class="page-head-title">Embarques</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <button class="btn btn-space btn-primary btn-lg float-right"  data-toggle="modal" data-target="#new-shipment">
        <i class="icon icon-left mdi mdi-plus"></i> Nuevo embarque
      </button>
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active">Embarques</li>
      </ol>
    </nav>
  </div>

  <!-- shipment create modal -->
  <div id="new-shipment" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog">
      <div class="modal-content be-loading" v-bind:class="{ 'be-loading-active' : loading }">
        <div class="modal-header modal-header-colored">
          <h3 class="modal-title">Nuevo embarque</h3>
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close">       </span></button>
        </div>

        <div class="modal-body">
          <div class="form-group row">
            <label for="id_plant" class="col-12 col-sm-3 col-form-label text-sm-right">Planta destino</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <select id="id_plant" v-model="shipment.plant" class="form-control">
                <option v-for="plant in plants" v-bind:value="plant.id">
                  ${ plant.name }
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_code" class="col-12 col-sm-3 col-form-label text-sm-right">Embarque</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <input id="id_code" v-model="shipment.code" type="text" placeholder="Introduce el número de embarque" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label for="id_carrier" class="col-12 col-sm-3 col-form-label text-sm-right">Carrier</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <select id="id_carrier" v-model="shipment.truck.carrier" class="form-control">
                <option v-for="carrier in carriers" v-bind:value="carrier.id">
                  ${ carrier.name }
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="id_trailer" class="col-12 col-sm-3 col-form-label text-sm-right">Trailer</label>
            <div class="col-12 col-sm-8 col-lg-8">
              <input id="id_trailer" v-model="shipment.truck.code" type="text" placeholder="Introduce el código de trailer" class="form-control">
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary md-close">Cancelar</button>

          <button type="button" class="btn btn-primary" v-on:click="submit" v-bind:class="{ 'disabled' : !formIsValid }">Agregar embarque</button>
        </div>

        <div class="be-spinner">
          <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- shipment update modal -->
  <div id="update-shipment" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog full-width">
      <div class="modal-content be-loading" v-bind:class="{ 'be-loading-active' : loading }">
        <div class="modal-header modal-header-colored">
          <h3 class="modal-title">Embarque #${shipment.code}</h3>
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close">       </span></button>
        </div>

        <div class="modal-body" style="padding: 0">

          <!-- shipment history -->
          <div class="main-content container-fluid">


            <div class="row">
              <div class="col-12">
                <br />
                <div class="flex-parent">
                  <div class="timeline-input-flex-container">
                    <div class="timeline-input">
                      <span data-year="10:00am" data-info="México (en tránsito)"></span>
                    </div>
                    <div class="timeline-input">
                      <span data-year="12:00pm" data-info="Carrier mexicano"></span>
                    </div>
                    <div class="timeline-input active">
                      <span data-year="03:45pm" data-info="Cruzando"></span>
                    </div>
                    <div class="timeline-input">
                      <span data-year="11:18pm" data-info="US Carrier"></span>
                    </div>
                    <div class="timeline-input">
                      <span data-year="10:15am" data-info="USA (en tránsito)"></span>
                    </div>
                    <div class="timeline-input">
                      <span data-year="07:22pm" data-info="Entregado"></span>
                    </div>
                  </div>

                  <div class="description-flex-container">
                    <p>El embarqué salió a las 4:00pm</p>
                    <p>El embarqué salió a las 4:00pm</p>
                    <p class="active">El embarqué salió a las 4:00pm</p>
                    <p>El embarqué salió a las 4:00pm</p>
                    <p>El embarqué salió a las 4:00pm</p>
                    <p>El embarqué salió a las 4:00pm</p>
                  </div>
                </div>

                <!-- OLD

                <h1 class="text-center">Eventos</h1>
                <br />
                <ul class="timeline modal-scroll-panel">

                  <li
                    v-for="(status, index) in shipment.status_history"
                    v-bind:key="index"
                    v-bind:status="status"
                    class="timeline-item">
                    <div class="timeline-date">
                      <span>${ _formatDate(status.start_datetime) }</span> <br />

                      <span class="timeline-time">${ _formatTime(status.start_datetime) }</span>
                    </div>

                    <div v-if="!_isDelivered(status)" class="timeline-content" v-bind:style="_timelineItemStatusStyle(status)">
                      <div class="timeline-header">
                        <p class="timeline-activity">
                          El embarque fue marcado como <strong>"${ status.checkpoint_display }"</strong>.
                          <br />
                          <template v-if="_isCurrentStatus(status)">
                            Lleva
                          </template>
                          <template v-else>
                            Estuvo
                          </template>
                          en este estado <strong>${ status.hours_since_start } hora(s)</strong>.
                        </p>
                      </div>
                    </div>

                    <div v-else class="timeline-content">
                      <div class="timeline-header">
                        <p class="timeline-activity">
                          El embarque llegó exitosamente a <strong>"${ shipment.plant.name }"</strong>.
                        </p>
                      </div>
                    </div>
                  </li>

                  <li class="timeline-item">
                    <div class="timeline-date">
                      <span>${startDate}</span>
                      <br />
                      <span class="timeline-time">${startTime}</span>
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-header">
                        <p class="timeline-activity">
                          El embarque fue creado con destino hacia <strong>"${ shipment.plant.name }"</strong>
                        </p>
                      </div>
                    </div>
                  </li>


                <li class="timeline-item timeline-loadmore">
                  <a href="#" class="load-more-btn">
                    Inicio</a>
                  </li>
                </ul>

              -->
              </div>
            </div>
          </div>

          <!-- shipment info -->
          <div class="main-content container-fluid shipment-modal-header">
            <div class="row">
              <div class="col-6">
                <h1 class="text-center">Embarque</h1>
                <br />

                <div v-if="!_isDelivered(shipment.current_status)" class="col-12 shipment-status-center">
                  <h3>
                    Actualmente se encuentra en
                    <br />
                    <strong>
                      ${shipment.current_status.checkpoint_display}
                    </strong>
                    <br />
                    y su traslado va
                    <br />
                    <strong class="shipment-status-time" v-bind:class="timeStatusClass">
                      ${shipment.current_status.time_status_display}
                    </strong>
                  </h3>

                  <p class="shipment-actions">
                    <button v-on:click="nextCheckpoint" class="btn btn-space btn-success btn-lg"><i class="icon icon-left mdi mdi-check-circle"></i> Ya llegó</button>

                    <button class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-phone"></i> Contactar carrier</button>
                  </p>
                </div>

                <div v-else class="col-12 shipment-status-center">
                  <h3>
                    El embarque fue
                    <br />
                    <strong>entregado</strong>
                    <br />
                    exitosamente.
                  </h3>
                </div>

                <div v-if="_showEta()" class="form-group row">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right">Estimated Time of Arrival</label>

                  <div class="col-12 col-sm-8 col-lg-8">
                    <div class="row">
                      <div class="col">
                        <input type="date" class="form-control" :value="etaDate"
                     @input="changeEtaDate($event.target.valueAsDate)" />
                      </div>
                      <div class="col">
                        <input type="time" class="form-control" :value="etaTime"
                     @input="changeEtaTime($event.target.valueAsDate)"  />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_update_plant" class="col-12 col-sm-3 col-form-label text-sm-right">Planta destino</label>
                  <div class="col-12 col-sm-8 col-lg-8">
                    <select id="id_update_plant" v-model="shipment.plant" class="form-control" disabled>
                      <option v-for="plant in plants" v-bind:value="plant">
                        ${ plant.name }
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_update_code" class="col-12 col-sm-3 col-form-label text-sm-right">Embarque</label>
                  <div class="col-12 col-sm-8 col-lg-8">
                    <input id="id_update_code" v-model="shipment.code" type="text" placeholder="Introduce el número de embarque" class="form-control" disabled>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_update_carrier" class="col-12 col-sm-3 col-form-label text-sm-right">Carrier</label>
                  <div class="col-12 col-sm-8 col-lg-8">
                    <select id="id_update_carrier" v-model="shipment.truck.carrier" class="form-control" disabled>
                      <option v-for="carrier in carriers" v-bind:value="carrier">
                        ${ carrier.name }
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="id_update_trailer" class="col-12 col-sm-3 col-form-label text-sm-right">Trailer</label>
                  <div class="col-12 col-sm-8 col-lg-8">
                    <input id="id_update_trailer" v-model="shipment.truck.code" type="text" placeholder="Introduce el código de trailer" class="form-control" disabled>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <h1 class="text-center">Comentarios</h1>
                <br />

                <div class="modal-scroll-panel scroll-panel-comments ">
                  <div class="timeline-content">
                    <div class="timeline-avatar avatar-margin-right"><img src="{% static 'img/avatar3.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header">
                      <span class="timeline-time">9:54 AM</span>
                      <span class="timeline-autor">Roberto Jimenez</span>
                      <div class="timeline-summary">
                        <p>El tráfico hacia Nuevo Laredo estaba lento por un accidente.</p>
                      </div>
                    </div>
                  </div>

                  <div class="timeline-content">
                    <div class="timeline-avatar avatar-margin-right"><img src="{% static 'img/avatar4.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header">
                      <span class="timeline-time">11:05 AM</span>
                      <span class="timeline-autor">Luis Herrada</span>
                      <div class="timeline-summary">
                        <p>El tráfico ya se desatoró. Ya llegó con el carrier mexicano.</p>
                      </div>
                    </div>
                  </div>

                  <div class="timeline-content">
                    <div class="timeline-avatar avatar-margin-right"><img src="{% static 'img/avatar2.png' %}" alt="Avatar" class="circle"></div>
                    <div class="timeline-header">
                      <span class="timeline-time">16:05 PM</span>
                      <span class="timeline-autor">Roberto Jimenez</span>
                      <div class="timeline-summary">
                        <p>Todo en órden ya.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="text" placeholder="Introduce tu comentario" class="form-control">
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary md-close">Cerrar</button>
        </div>

        <div class="be-spinner">
          <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div id="shipments-dashboard" class="main-content container-fluid">
    <div class="row">
      <div
        v-for="(plant, index) in plants"
        v-bind:key="index"
        v-bind:plant="plant"
        class="col">
        <div class="card card-border-color card-contrast text-center" :style="getPlantStyle(plant)">
          <div class="card-header">
            <strong>${ plant.name }</strong>
          </div>
          <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width:40%;"></th>
                    <th class="text-center">YTD</th>
                    <th class="text-center">Goal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>AVG. Transit time (in days)</td>
                    <td class="text-center">
                      <span class="badge badge-pill badge-success">
                        ${ plant.current_year_metrics.average_duration.toFixed(2) }</span></td>
                    <td class="text-center">
                      <span class="badge badge-pill">
                        ${ plant.previous_year_metrics.average_duration.toFixed(2) }</span></td>
                  </tr>
                </tbody>
              </table>

              <table class="table">
                <thead>
                  <tr>
                    <th style="width:40%;"></th>
                    <th class="text-center">YTD</th>
                    <th class="text-center">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Total shipments</td>
                    <td class="text-center">
                      <span class="badge badge-pill">${ plant.current_year_metrics.count }</span></td>
                    <td class="text-center">
                      <span class="badge badge-pill">${ plant.current_year_metrics.percentage }%</span></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="card card-border card-contrast">
          <div class="card-header card-header-contrast">
            <img src="{% static 'img/flags/mexico.svg' %}" style="width: 25px;" />
            <strong>México</strong>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-6">
                <h5 class="text-center"><strong>En tránsito</strong></h5>

                <shipments-column checkpoint="MTR">
                </shipments-column>
              </div>

              <div class="col-6">
                <h5 class="text-center"><strong>Carrier mexicano</strong></h5>

                <shipments-column checkpoint="MCA">
                </shipments-column>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 col-xl-8">
        <div class="card card-border card-contrast">
          <div class="card-header card-header-contrast">
            <img src="{% static 'img/flags/united-states.svg' %}" style="width: 25px;" />
            <strong>Estados Unidos</strong>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-3">
                <h5 class="text-center"><strong>Cruzando</strong></h5>

                <shipments-column checkpoint="BCR">
                </shipments-column>
              </div>

              <div class="col-3">
                <h5 class="text-center"><strong>US Carrier</strong></h5>

                <shipments-column checkpoint="BCA">
                </shipments-column>
              </div>

              <div class="col-3">
                <h5 class="text-center"><strong>En tránsito</strong></h5>

                <shipments-column checkpoint="UTR">
                </shipments-column>
              </div>

              <div class="col-3">
                <h5 class="text-center"><strong>Entregado</strong></h5>

                <shipments-column checkpoint="UDE" class="delivered">
                </shipments-column>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" type="text/css"/>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'lib/vue/vue.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/dashboard.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/create-shipment.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/update-shipment.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/timeline.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('.modal').on('show.bs.modal', function(){
      $("html").addClass('be-modal-open');
    });

    $('.modal').on('hidden.bs.modal', function(){
      $("html").removeClass('be-modal-open');
    });

    $(".datetimepicker").datetimepicker({
      autoclose: true,
      componentIcon: '.mdi.mdi-calendar',
      navIcons:{
        rightIcon: 'mdi mdi-chevron-right',
        leftIcon: 'mdi mdi-chevron-left'
      }
    });
  </script>
{% endblock %}
