.global-header {
  display: flex;
  align-items: center;
  padding: 3.2rem;

  @media screen and (max-width: 820px) {
    display: block;
    text-align: center;
    padding-bottom: .8rem;
  }

  .nav {
    margin-left: auto;
    position: relative;

    @media screen and (max-width: 820px) {
      display: inline-block;
    }

    &-list {
    }

    &-item {
      display: inline-block;
      font-weight: 700;
    }

    &-item + .nav-item {
      margin-left: 1.6rem;
    }

    &-link {
      color: $dark-yellow;
      text-decoration: none;
      padding: .8rem;
    }

    .dropdown {
      text-align: right;

      .dropdown-item {
        color: $dark-yellow;

        &:first-child {
          padding: .8rem;
          display: flex;
          align-items: center;
        }

        &:last-child {
          display: none;
          position: absolute;
          padding: .8rem;
          right: 0;
          font-weight: 400;
        }

        .down-arrow {
          margin-left: .8rem;
        }
      }

      &:hover {
        background-color: #fff;
        border-radius: .8rem;

        .dropdown-item:first-child {
          border-radius: .8rem .8rem 0 0;
          display: flex;
        }

        .dropdown-item {
          display: block;
          background-color: lighten($yellow, 30%);
          border-radius: .8rem 0 .8rem .8rem;
        }
      }
    }
  }
}
