.text-input {
  background-color: transparent;
  color: $text-color;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: 2px solid lighten($text-color, 10%);
  padding: .8rem;
  display: block;
  font-size: 1.6rem;
}

select {
  border: none;
  color: $text-color;
  background-color: lighten($text-color, 50%);
  font-size: 1.6rem;
  min-height: 3.2rem;
}

label {
  display: block;
  margin-bottom: .4rem;
}
input[type="text"], input[type="email"] {
  display: block;
  padding: .8rem;
  color: $text-color;
  font-size: 1.6rem;
  width: 100%;
  margin: .8rem 0;
}
select {
  width: 100%;
  border: none;
  color: $text-color;
  font-size: 1.6rem;
  min-height: 3.2rem;

  option {
    padding: .4rem .8rem;
  }
}
