.single {
  .modal-box {
    background-color: $yellow;
    color: $text-color;
    max-width: 46.4rem;
    padding: 7rem 10rem 10rem;
  }

  .text-input {
    color: $dark-yellow;
    border-bottom: 2px solid lighten($dark-yellow, 10%);
  }
}

.modal-box {
  max-width: 66%;
  min-height: 40rem;
  margin: 0 auto 1.6rem;
  padding: 4rem 7rem;
  color: $text-color;
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

  @media screen and (max-width: 464px) {
    padding: 2.4rem;
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
    box-shadow: none;
	}

  &.dashboard {
    max-width: 66%;
  }

  .primary-button {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    width: 100%;
  }

  .button + .primary-button {
    margin-top: .8rem;
  }

  .blockLabels {
    border: none;
  }

  .ctrlHolder {
    margin: 1.6rem 0;
  }

  .modal-link {
    color: $text-color;
    display: block;
    text-decoration: none;
    padding: .4rem .8rem;
    border-radius: .4rem;
    background-color: lighten($text-color, 50%);
    margin-bottom: .8rem;

    &:hover {
      text-decoration: none;
    }
  }
}
