{% extends 'admin/includes/simple_form.html' %}
{% load static %}

{% block title %}Compañias{% endblock %}

{% block fields %}
  <label class="form-label strong block" for="id_name">Nombre</label>
  <input class="text-input block width-100" type="text" name="name" maxlength="150" required="" id="id_name" value="{% firstof form.name.value '' %}">

  <label class="form-label strong block m-top--s" for="id_industry">Industria</label>
  {{ form.industry }}

  <label class="form-label strong block m-top--s" for="id_size">Tamaño</label>
  {{ form.size }}
{% endblock %}
