{% extends 'base-profile.html' %}
{% load static %}

{% block profile_header %}
  {% include 'admin/includes/profile/header/company.html' %}
{% endblock %}

{% block inner_content %}
  {% for leader in leaders %}
    <div class="competencia tab-content--item grid">
      <a href="{% url 'admin:leader-detail' leader.pk %}" class="tab-content--item-link">
        <img src="{{ leader.profile.avatar.crop.44x44 }}" />
        <h3 class="item-title">{% firstof leader.get_full_name leader.email %}</h3>
        <span class="content-tag">{% firstof leader.profile.position leader.profile.get_level_of_hierarchy_display %}</span>
      </a>
      <span class="score-number">
        <a href="#" class="edit-link">{% include 'admin/includes/components/edit_button.html' %}</a> {{ leader.leader_score.score_now }}%
      </span>
    </div>

  {% empty %}
    <p>Esta compañía aún no tiene líderes registrados.</p>
  {% endfor %}

  <div class="modal-inside">
    <div class="modal-inside-content">
      <span class="close">&times;</span>
      <h3 class="page-subtitle">Agregar nuevo lider</h3>
      <input id="leader-email" type="text" placeholder="Correo electrónico" maxlength="150" required="">
      <button id="modal-submit" type="button" class="button primary-button">Crear cuenta</button>
    </div>
  </div>
{% endblock %}

{% block menu_extras %}{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script>
    $(function() {
      var addLeaderButton = $('#addLeaderButton');
      var emailField = $('#leader-email');
      var submitButton = $('#modal-submit');

      addLeaderButton.on('click', function() {
        showModal('.modal-inside');
      });

      emailField.on('change paste keyup', function() {
        if(isEmail(emailField.val()))
          submitButton.show();
        else
          submitButton.hide()
      });

      submitButton.on('click', function() {
        var data = JSON.stringify({
          company_id: {{ object.pk }},
          email: emailField.val()
        });

        $.ajax({
          url: '/admin/companies/add-leader/',
          type: 'post',
          data: data,
          dataType: 'json',
          contentType: 'application/json',
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          success: function(){
            location.reload();
          }
        });
      });

      // hide submitButton by default
      submitButton.hide();
    });
  </script>
{% endblock %}
