{% extends 'base-profile.html' %}
{% load static %}

{% block profile_header %}
  {% include 'admin/includes/profile/header/company.html' %}
{% endblock %}

{% block inner_content %}
  {% for leader in leaders %}
    <div class="competencia tab-content--item grid">
      <span href="#" class="tab-content--item-link">
        <img src="{{ leader.profile.avatar.crop.44x44 }}" />
        <h3 class="item-title">{% firstof leader.get_full_name leader.email %}</h3>
        <span class="content-tag">{% firstof leader.profile.position leader.profile.get_level_of_hierarchy_display %}</span>
      </span>
      <span class="score-number">
        <a href="#" class="edit-link">{% include 'admin/includes/components/edit_button.html' %}</a> {{ leader.leader_score.score_now }}%
      </span>
    </div>

  {% endfor %}

  <button id="addLeaderButton" type="button" class="button uppercase secondary-button button-small width-100 modal-open">Agregar nuevo lider</button>

  <div class="modal-inside">
    <div class="modal-inside-content">
      <span class="close">&times;</span>
      <h3 class="page-subtitle">Agregar nuevo lider</h3>
      <input type="text" placeholder="Correo electrónico" maxlength="150" required="">
      <button type="button" class="button primary-button">Crear cuenta</button>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script>
    $(function() {
      $('#addLeaderButton').on('click', function() {
        showModal('.modal-inside');
      });
    });
  </script>
{% endblock %}
