{% extends 'base-full.html' %}
{% load static %}

{% block title %}Compañias{% endblock %}

{% block inner_content %}
  {% for company in object_list %}
    <div class="competencia tab-content--item">
      <a href="{% url 'admin:company-detail' company.id %}" class="tab-content--item-link block">
        <h3 class="item-title">{{ company.name }}</h3>
      </a>
    </div>
  {% empty %}
    <p>No existe ninguna compañía.</p>
  {% endfor %}
{% endblock %}

{% block bottom_actions %}
  <a href="{% url 'admin:company-add' %}">
    <button class="button button-add secondary-button block">Agrega compañía</button>
  </a>
{% endblock %}
