{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal-box companies">
  <h1 class="page-title">Compañias</h1>

  <section class="companies">
    <ul class="list">
    {% for company in object_list %}
        <li class="list-link">
          <a class="modal-link" href="{% url 'admin:company-update' company.id %}">{{ company.name }}</a>
        </li>
    {% empty %}
    </ul>
      <p>No existe ninguna compañía.</p>
    {% endfor %}
    <a  class="button button-small secondary-button block center text-center" href="{% url 'admin:company-add' %}">Crear nueva compañia</a>
  </section>
</div>
{% endblock %}
