{% extends 'content/includes/lesson_form.html' %}
{% load static %}

{% block fields %}
  {% include 'content/includes/fields/skill.html' %}
  {% include 'content/includes/fields/name.html' %}

  <h4 class="form-label strong block m-top--s">Actividades <button id="add-activity" type="button">Agregar</button></h4>

  {% for inline in inlines %}
    {{ inline.management_form }}

    <!-- template to generate new inline elements -->
    <script type="text/html" id="activities-template">
      <div class="activities-fieldset-__prefix__ content--item tab-content--item media--container activity" style="display: none;">
        <input
          type="hidden"
          name="activities-__prefix__-id"
          id="id_activities-__prefix__-id" />

        <input
          type="hidden"
          name="activities-__prefix__-activity_list"
          id="id_activities-__prefix__-activity_list"/>

        <span class="activity-delete">
          Eliminar: <input
          type="checkbox"
          name="activities-__prefix__-DELETE"
          id="id_activities-__prefix__-DELETE" />
        </span>

        <label
          class="form-label strong block m-top--s"
          for="id_activities-__prefix__-name">Nombre</label>

        <input
          class="text-input block width-100"
          type="text"
          maxlength="150"
          required=""
          name="activities-__prefix__-name"
          id="id_activities-__prefix__-name">

        <label
          class="form-label strong block m-top--s"
          for="id_activities-__prefix__-description">Descripción</label>

        <textarea
          cols="40"
          rows="10"
          required=""
          name="activities-__prefix__-description"
          id="id_activities-__prefix__-description"></textarea>

        <label
          class="form-label strong block m-top--s"
          for="id_activities-__prefix__-body">Texto</label>

        <textarea
          cols="40"
          rows="10"
          required=""
          name="activities-__prefix__-body"
          id="id_activities-__prefix__-body"></textarea>
      </div>
    </script>

    <div id="activities-container">
      {% for form in inline %}
        <div class="activities-fieldset-{{ forloop.counter0 }} content--item tab-content--item media--container activity">
          <input
            type="hidden"
            name="{{form.id.html_name}}"
            id="{{form.id.id_for_label}}"
            value="{% firstof form.id.value '' %}" />

          <input
            type="hidden"
            name="{{form.activity_list.html_name}}"
            id="{{form.activity_list.id_for_label}}"
            value="{% firstof form.activity_list.value '' %}" />

          <span class="activity-delete">Eliminar: <input
            type="checkbox"
            name="{{form.DELETE.html_name}}"
            id="{{form.DELETE.id_for_label}}" />
          </span>

          <label
            class="form-label strong block m-top--s"
            for="{{form.name.id_for_label}}">Nombre</label>

          <input
            class="text-input block width-100"
            type="text"
            maxlength="150"
            required=""
            name="{{form.name.html_name}}"
            id="{{form.name.id_for_label}}"
            value="{% firstof form.name.value '' %}">

          <label
            class="form-label strong block m-top--s"
            for="{{form.description.id_for_label}}">Descripción</label>

          <textarea
            cols="40"
            rows="10"
            required=""
            name="{{form.description.html_name}}"
            id="{{form.description.id_for_label}}">{% firstof form.description.value '' %}</textarea>

          <label
            class="form-label strong block m-top--s"
            for="{{form.body.id_for_label}}">Texto</label>

          <textarea
            cols="40"
            rows="10"
            required=""
            name="{{form.body.html_name}}"
            id="{{form.body.id_for_label}}">{% firstof form.body.value '' %}</textarea>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script src="{% static 'js/vendor/django-inline-form.js' %}"></script>
  <script>
    $('#add-activity').djangoInlineFormAdd({
      prefix: "activities",
      postClick: function() {
        // wait half a second
        setTimeout(function() {
          var newElement = $('#activities-container').find('div:last-child');

          // scroll to newly added element
          $('html,body').animate({
            scrollTop: newElement.offset().top
          });
        }, 500);
      }
    });
  </script>
{% endblock %}
