<hgroup class="title-header">
  <h1 class="page-title m-tb--0">
    {{ object.name }} <a href="{% url 'admin:company-update' object.id %}">{% include 'admin/includes/components/edit_button.html' %}</a>
  </h1>

  <h2 class="page-subtitle m-top--xs">
    {{ object.industry }} <span class="company-size">{{ object.get_size_display }}</span>
  </h2>
</hgroup>

<div class="tools">
  {% if object.industry %}
    <div class="tool">
      <p class="tool-label" for="id_select">
        <strong>Industria</strong>
      </p>

      {{ object.industry.name }}
    </div>
  {% endif %}

  <div class="tool">
    <p class="tool-label" for="id_select">
      <strong>Tamaño</strong>
    </p>

    {{ object.get_size_display }}
  </div>
</div>
