<hgroup class="title-header">
  <h1 class="page-title m-tb--0">
    {% firstof object.get_full_name object.email %} <a href="{% url 'admin:leader-update' object.id %}">{% include 'admin/includes/components/edit_button.html' %}</a>
  </h1>

  <h2 class="page-subtitle m-top--xs">
    {% firstof object.profile.position object.profile.get_level_of_hierarchy_display %}
    <span class="company-size">
      <a href="{% url 'admin:company-detail' object.leader_companies.all.0.id %}">
        {{ object.leader_companies.all.0.name }}
      </a>
    </span>
  </h2>
</hgroup>

<div class="tools">
  <div class="tool">
    <p class="tool-label" for="id_select">
      <strong>Compañía</strong>
    </p>

    <a href="{% url 'admin:company-detail' object.leader_companies.all.0.id %}">
      {{ object.leader_companies.all.0.name }}
    </a>
  </div>

  <div class="tool">
    <p class="tool-label" for="id_select">
      <strong>Puesto</strong>
    </p>

    {% firstof object.profile.position object.profile.get_level_of_hierarchy_display %}
  </div>

  <div class="tool">
    <p class="tool-label" for="id_select">
      <strong>Generación</strong>
    </p>

    {{ object.profile.get_generation_display }}
  </div>
</div>
