{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column is-half">
                <div class="is-block mb40">
                    <h1 class="txt36 mb20"><strong>About us</strong></h1>
                    <p>We're a digital product agency based in Monterrey, Mexico. Our mission is to help businesses succeed... we just happen to be good at doing so through digital products.</p>
                    <p>Our multi-disciplinary approach has enabled us to deliver value to our clients from day one, helping them from ideation to implementation.</p>
                </div>
                <div class="is-block">
                    <a class="icon-arrow-button-down"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-red-gradient has-texture pt60 pb80">
    <div class="wrap">
        <div class="columns">
            <div class="column is-two-thirds pr70">
                <img src="{% static 'img/pic2.jpg' %}" alt="">
            </div>
            <div class="column is-one-thirds">
                <h1 class="txt36 mb20 c-white"><strong>We take the best out of design, technology and strategy to take your business to the next level</strong></h1>
                <p class="mb40 c-white">We are a software developent and design agency that think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                <a href="{% url 'website:quote' %}" class="button bg-white c-red has-arrow is-right">Request Quote</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="is-one-third column">
                <h4 class="txt36 mb20"><strong>Our work process</strong></h4>
            </div>
        </div>
        <div class="columns">
            <div class="is-one-half column">
                <div class="rectangular-card-249px bg-blue-gradient has-texture c-white p30">
                    <div class="">
                        <p class="txt18">1/4</p>
                        <h5 class="txt30 is-bold pb30">Discover & Conceptualize</h5>

                        <p>Using different tools like the Design Sprint, User Experience Design and Product Management, this is where we focus on ensuring the software solves a real problem in a way that is helpful to your users and your business.</p>

                        <p>
                          <br />
                          <strong>Outcomes / Deliverables:</strong>
                          <ul>
                            <li>Product brief</li>
                            <li>Customer journey map</li>
                            <li>Low-fidelity wireframes</li>
                            <li>Real-looking prototype</li>
                            <li>Findings from the user testing</li>
                            <li>Report with next steps</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="is-one-half column">
                <div class="rectangular-card-249px bg-blue-gradient has-texture c-white p30">
                    <div class="">
                        <p class="txt18">2/4</p>
                        <h5 class="txt30 is-bold pb30">Plan & Design</h5>

                        <p>Once we have enough certainty about the product, we polish the interface design, write detailed user stories, prioritize features, do data modeling, etc. The goal is to know whats needed to build the product and give the development team what is needed to do so.</p>

                        <p>
                          <br />
                          <strong>Outcomes / Deliverables:</strong>
                          <ul>
                            <li>Detailed user stories</li>
                            <li>Acceptance criteria</li>
                            <li>Revised wireframes</li>
                            <li>System architecture</li>
                            <li>Database design</li>
                            <li>Finished UI design</li>
                          </ul>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="is-one-half column">
                <div class="rectangular-card-249px bg-blue-gradient has-texture c-white p30">
                    <div class="">
                        <p class="txt18">3/4</p>
                        <h5 class="txt30 is-bold pb30">Build & Launch</h5>

                        <p>This is where we focus on the actual development of the product, applying industry best practices such as test-driven development, continuous integration / development, short iterations, code review, among others.</p>

                        <p>
                          <br />
                          <strong>Outcomes / Deliverables:</strong>
                          <ul>
                            <li>Shipped funcionality every two weeks</li>
                            <li>Weekly project status</li>
                            <li>Stable & maintainable codebase</li>
                            <li>User manual</li>
                            <li>Full source code</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="is-one-half column">
                <div class="rectangular-card-249px bg-blue-gradient has-texture c-white p30">
                    <div class="">
                        <p class="txt18">4/4</p>
                        <h5 class="txt30 is-bold pb30">Iterate & Scale</h5>

                        <p>When your digital product is released you need to keep making improvements to it: optimizations, new features, improvements to existing features, automate backups, etc. That's why after shipping your product we continue to work together on a retainer fee, so you can focus on growing your business.</p>

                        <p>
                          <br />
                          <strong>Outcomes / Deliverables:</strong>
                          <ul>
                            <li>New releases every two weeks</li>
                            <li>Product management</li>
                            <li>Automated backups</li>
                            <li>Application performance monitoring</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
