{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vordem | Digital Product Agency</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/vordem.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>

    {% if settings.GOOGLE_ANALYTICS_ID %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_ID }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ settings.GOOGLE_ANALYTICS_ID }}');
      </script>
    {% endif %}
</head>
<body>
    <header class="has-texture">
        <div class="wrap">
            <nav id="navbar" class="navbar column">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'website:home' %}">
                            <img src="{% static 'img/logo.svg' %}" alt="Vordem">
                        </a>
                        <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="navMenuDocumentation" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{% url 'website:about' %}" class="navbar-item is-hidden-mobile txt18">About us</a>
                            <a href="{% url 'website:services' %}" class="navbar-item is-hidden-mobile txt18">Services</a>
                            <a href="{% url 'website:projects' %}" class="navbar-item is-hidden-mobile txt18">Projects</a>
                            <a href="{% url 'website:blog' %}" class="navbar-item is-hidden-mobile txt18">Blog</a>
                            <a href="{% url 'website:contact' %}" class="navbar-item is-hidden-mobile txt18">Contact</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <aside class="hero-nav is-hidden-desktop">
        <div class="hero-nav-close-wrap">
            <div class="hero-nav-close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="one-col is-table">
            <div class="one-col is-table">
                <ul class="is-table-cell has-list has-text-centered" id="aside-menu">
                    <a href="{% url 'website:about' %}" class="c-white txt18 mb20 is-bold">About us</a>
                    <a href="{% url 'website:services' %}" class="c-white txt18 mb20 is-bold">Services</a>
                    <a href="{% url 'website:projects' %}" class="c-white txt18 mb20 is-bold">Projects</a>
                    <a href="{% url 'website:blog' %}" class="c-white txt18 mb20 is-bold">Blog</a>
                    <a href="{% url 'website:contact' %}" class="c-white txt18 mb20 is-bold">Contact</a>
                </ul>
            </div>
        </div>
    </aside>

    {% block content %}{% endblock %}

    <footer class="bg-red-gradient has-texture ptb40">
        <div class="wrap">
            <div class="columns">
                <div class="column is-one-quarter"><img src="{% static 'img/logo.svg' %}" alt="Vordem"></div>
                <div class="column is-half">
                    <div class="columns is-mobile">
                        <div class="column is-half has-list">
                            <p class="bd-footer-link"><a href="{% url 'website:about' %}" class="txt18">About Us</a></p>
                            <p class="bd-footer-link"><a href="{% url 'website:services' %}" class="txt18">Services</a></p>
                            <p class="bd-footer-link"><a href="{% url 'website:projects' %}" class="txt18">Projects</a></p>
                        </div>
                        <div class="column is-half has-list">
                            <p class="bd-footer-link"><a href="{% url 'website:blog' %}" class="txt18">Blog</a></p>
                            <p class="bd-footer-link"><a href="{% url 'website:contact' %}" class="txt18">Contact</a></p>
                            <p class="bd-footer-link"><a href="{% url 'website:careers' %}" class="txt18">Careers</a></p>
                        </div>
                    </div>
                </div>
                <div class="column is-flex-tablet is-one-quarter">
                    <a href="{% url 'website:quote' %}" class="button bg-white c-red has-arrow is-right">Request Quote</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vordem.js' %}"></script>
</body>
</html>
