{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column is-half">
                <div class="is-block mb40">
                    <h1 class="txt36 mb20"><strong>Check out this content from the people at Vordem</strong></h1>
                    <p>We are a software developent and design agency. We think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                </div>
                <div class="is-block">
                    <a class="icon-arrow-button-down"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-green-gradient has-texture c-white ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column is-one-third mr30">
                <h3 class="txt36 mb20 min90"><strong>Senior Arquitectural</br>Designer</strong></h3>
                <p>We are a software developent and design agency. We think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                <a href="{% url 'website:apply' %}" class="button bg-white c-red has-arrow mt30">Apply</a>
            </div>
            <div class="column is-one-third mr30">
                <h3 class="txt36 mb20 min90"><strong>Visual Designer</strong></h3>
                <p>We are a software developent and design agency. We think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                <a href="{% url 'website:apply' %}" class="button bg-white c-red has-arrow mt30">Apply</a>
            </div>
            <div class="column is-one-third mr30">
                <h3 class="txt36 mb20 min90"><strong>Associate Creative</br>Director</strong></h3>
                <p>We are a software developent and design agency. We think, design and create mobile and web applications, that allow to boost our client’s business.</p>
                <a href="{% url 'website:apply' %}" class="button bg-white c-red has-arrow mt30">Apply</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="columns">
                    <div class="column">
                        <img src="{% static 'img/img2.png' %}" alt="" class="has-shadow">
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <h1 class="txt36 mb20"><strong>Don't see a position that's right for you?</strong></h1>
                <p class="mb40">Join us to do the best work of your life.</p>
                <a href="{% url 'website:apply' %}" class="button bg-red c-white has-arrow is-right">Apply</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
