{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="pt60">
  <div class="l-wrapp-hidden-widescreen pb80">
    <div class="columns">
      <div class="column is-half pr70">
        <h1 class="txt48 mb50">
          <strong>We create digital products that help businesses reach their full potential</strong>
        </h1>
        <p class="mb40">
          Vordem is a digital product agency, founded with the mission of making businesses thrive by doing what we do best: technology. This means working at the intersection of business, creativity and technology through a structured innovation process with a clear goal in mind: making things happen.
        </p>
        <a class="icon-arrow-button-down"></a>
      </div>
      <div class="column is-half is-flex-tablet">
        <div class="is-right has-img">
          <img src="{% static 'img/img1-1.svg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="columns">
      <div class="column is-two-thirds pr70">
        <img src="{% static 'img/pic1.jpg' %}" alt="">
      </div>
      <div class="column is-one-thirds">
        <h1 class="txt36 mb20"><strong>A balanced approach</strong></h1>
        <p class="mb40">
          Successful digital products come from the focused collaboration by strategists, developers, designers and product managers, working together to craft simple and elegant solutions to complex challenges.
        </p>
        <a href="{% url 'website:about' %}" class="button bg-red c-white has-arrow is-right">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-gradient has-texture ptb60 mt60">
  <div class="wrap">
    <h4 class="c-white txt36 mb40"><strong>Recent projects</strong></h4>

    <div class="columns pb20">

      <div class="column is-one-third">
        <div class="square-card">
          <a href="{% url 'website:projects' %}">
            <div class="img">
              <img src="{% static 'img/portfolio/comex/thumbnail.png' %}" alt="Publicomex">
            </div>
            <div class="title"><h3 class="txt26"><strong>Publicomex</strong></h3></div>
          </a>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="square-card">
          <a href="{% url 'website:projects' %}">
            <div class="img">
              <img src="{% static 'img/portfolio/sealedair/thumbnail.png' %}" alt="Sealed Air">
            </div>
            <div class="title"><h3 class="txt26"><strong>Sealed Air</strong></h3></div>
          </a>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="square-card">
          <a href="{% url 'website:projects' %}">
            <div class="img">
              <img src="{% static 'img/portfolio/santander/thumbnail.png' %}" alt="Premio Santander">
            </div>
            <div class="title"><h3 class="txt26"><strong>Premio Santander</strong></h3></div>
          </a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-flex-tablet">
        <a href="{% url 'website:projects' %}" class="button bg-white c-red has-arrow is-right">View our work</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white ptb60">
  <div class="wrap">
    <div class="columns pb80">
      <div class="is-one-third column">
        <h4 class="txt36 mb40"><strong>Our clients</strong></h4>
        <p>We've worked with startups and big companies from different industries: transportation, finance, information technology, retail, education and others.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="has-inline-list has-logo-list has-text-centered-tablet">
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo8.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo3.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo10.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo1.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo4.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo2.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo7.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo5.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo6.png' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo9.svg' %}" alt="">
          </div>
          <div class="img is-grayscale is-half-inline">
            <img src="{% static 'img/icon-logo11.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-green-gradient has-texture c-white ptb60">
  <div class="wrap">
    <div class="columns">
      <div class="column is-align-middle has-text-centered">
        <h1 class="txt36 mb20"><strong>Ready to take your business to the next level?</strong></h1>

        <a href="{% url 'website:about' %}" class="button bg-white c-red has-arrow is-right mb20">More about us</a>

        <a href="{% url 'website:quote' %}" class="button bg-red c-white has-arrow is-right mb20">Request Quote</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
