<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <title>Sealed Air - Logistics</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/material-design-icons/css/material-design-iconic-font.min.css"/><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/jqvmap/jqvmap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-collapsible-sidebar be-collapsible-sidebar-collapsed">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header">
            <a href="index.html" class="navbar-brand"></a>
          </div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><img src="assets/img/avatar4.png" alt="Avatar"><span class="user-name">Miguel Mejia</span></a>
                <div role="menu" class="dropdown-menu">
                  <div class="user-info">
                    <div class="user-name">Miguel Mejia</div>
                  </div><a href="#" class="dropdown-item"><span class="icon mdi mdi-face"></span> Mi cuenta</a>
                  <a href="#tab1" role="button" aria-expanded="false" class="dropdown-item be-toggle-right-sidebar"><span class="icon mdi mdi-settings"></span> Ajustes</a><a href="pages-login.html" class="dropdown-item"><span class="icon mdi mdi-power"></span> Cerrar sesión</a>
                </div>
              </li>
            </ul>
            <div class="page-title"><span>Embarques</span></div>
            <ul class="nav navbar-nav float-right be-icons-nav">
              <li class="nav-item dropdown"><a href="#" role="button" aria-expanded="false" class="nav-link be-toggle-right-sidebar"><span class="icon mdi mdi-settings"></span></a></li>
              <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                <ul class="dropdown-menu be-notifications">
                  <li>
                    <div class="title">Notificaciones<span class="badge badge-pill">1</span></div>
                    <div class="list">
                      <div class="be-scroller">
                        <div class="content">
                          <ul>
                            <li class="notification notification-unread"><a href="#">
                                <div class="image"><img src="assets/img/avatar2.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Jessica Caruso</span> creó el embarque #54378 con destino hacia Iowa Park.</div><span class="date">Hace 2 minutos</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar3.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Joel King</span> marcó el embarque #87346 como Entregado.</div><span class="date">Hace 2 días</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar4.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">John Doe</span> cambió el estado del embarque #123456 a: US Carrier.</div><span class="date">Hace 4 días</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar5.png" alt="Avatar"></div>
                                <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> creó el embarque #54378 con destino hacia Saint Joe.</span><span class="date">Hace 5 días</span></div></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Embarques</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li class="active"><a href="index.html"><i class="icon mdi mdi-truck"></i><span>Embarques</span></a>
                  </li>
                  <li><a href="#"><i class="icon mdi mdi-pin"></i><span>Destinos</span></a>
                  </li>
                  <li><a href="#"><i class="icon mdi mdi-case"></i><span>Carriers</span></a>
                  </li>
                  <li><a href="#"><i class="icon mdi mdi-accounts-alt"></i><span>Usuarios</span></a>
                  </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Embarques</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Embarques</li>
            </ol>
          </nav>
        </div>

        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-12 col-lg-4 col-xl-4">
                        <div class="widget widget-tile">
                          <div id="spark1" class="chart sparkline"></div>
                          <div class="data-info">
                            <div class="desc">Embarques</div>
                            <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="113" class="number">0</span>
                            </div>
                          </div>
                        </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                        <div class="widget widget-tile">
                          <div id="spark2" class="chart sparkline"></div>
                          <div class="data-info">
                            <div class="desc">Retrasados</div>
                            <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="21" class="number">0</span>
                            </div>
                          </div>
                        </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                        <div class="widget widget-tile">
                          <div id="spark3" class="chart sparkline"></div>
                          <div class="data-info">
                            <div class="desc">A tiempo</div>
                            <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="92" class="number">0</span>
                            </div>
                          </div>
                        </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-lg-4 col-xl-4">
              <div class="card card-border card-contrast">
                <div class="card-header card-header-contrast">México</div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-6">
                      <h5 class="text-center"><strong>En tránsito</strong></h5>

                      <div class="card-holder">
                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 3 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-sjo">SJO</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-aur">AUR</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 1 hora
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-6">
                      <h5 class="text-center"><strong>Carrier mexicano</strong></h5>

                      <div class="card-holder">

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-sjo">SJO</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 0.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-4">
              <div class="card card-border card-contrast">
                <div class="card-header card-header-contrast">Laredo</div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-6">
                      <h5 class="text-center"><strong>Cruzando</strong></h5>

                      <div class="card-holder">


                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-aur">AUR</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 8 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-danger float-right">LT</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-warning float-right">DL</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-stu">STU</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <h5 class="text-center"><strong>US Carrier</strong></h5>

                      <div class="card-holder">
                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 días
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-danger float-right">LT</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 1.5 días
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-danger float-right">LT</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-aur">AUR</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 20 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-danger float-right">LT</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-stu">STU</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-4">

              <div class="card card-border card-contrast">
                <div class="card-header card-header-contrast">Destino</div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-6">
                      <h5 class="text-center"><strong>En tránsito</strong></h5>

                      <div class="card-holder">
                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 3 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-sjo">SJO</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-aur">AUR</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 1 hora
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 1 hora
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-6">
                      <h5 class="text-center"><strong>Entregado</strong></h5>

                      <div class="card-holder delivered">
                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 3 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-sjo">SJO</span>
                                <strong>#1245122</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> ABC-1234 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-ipt">IPT</span>
                                <strong>#1251237</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> XYZ-0548 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2.5 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-aur">AUR</span>
                                <strong>#97316212</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> HIJ-8722 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 2 horas
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card card-border card-shipment">
                          <div class="card-body padding-5">
                            <div class="row no-margin shipment-title">
                              <div class="col-12 no-padding">
                                <span class="badge badge-carrier badge-dun">DUN</span>
                                <strong>#2672493</strong>
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-12 no-padding">
                                <span class="icon mdi mdi-truck"></span> DEF-5678 <br />
                              </div>
                            </div>

                            <div class="row no-margin">
                              <div class="col-10 no-padding">
                                <span class="icon mdi mdi-hourglass-alt"></span> 1 hora
                              </div>
                              <div class="col-2 no-padding">
                                <span class="badge badge-success float-right">OK</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="be-right-sidebar">
        <div class="sb-content">
          <div class="tab-navigation">
            <ul role="tablist" class="nav nav-tabs nav-justified">
              <li role="presentation" class="nav-item"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab" class="nav-link active">Ajustes</a></li>
            </ul>
          </div>
          <div class="tab-panel">
            <div class="tab-content">
              <div id="tab1" role="tabpanel" class="tab-pane tab-settings active">
                <div class="settings-wrapper">
                  <div class="be-scroller"><span class="category-title">Notificaciones</span>
                    <ul class="settings-list">
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st1" id="st1"><span>
                            <label for="st1"></label></span>
                        </div><span class="name">Nuevos embarques</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st2" id="st2"><span>
                            <label for="st2"></label></span>
                        </div><span class="name">Retrasos</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st3" id="st3"><span>
                            <label for="st3"></label></span>
                        </div><span class="name">Entregas</span>
                      </li>
                    </ul><span class="category-title">Recibir por</span>
                    <ul class="settings-list">
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st4" id="st4"><span>
                            <label for="st4"></label></span>
                        </div><span class="name">Por correo</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" name="st5" id="st5"><span>
                            <label for="st5"></label></span>
                        </div><span class="name">Por SMS</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/jquery.flot.time.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="assets/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="assets/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="assets/js/app-dashboard.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      	App.dashboard();

      });
    </script>
  </body>
</html>
