{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ptb60">
    <div class="wrap">
        <div class="columns">
            <div class="column">
                <div class="is-block mb40">
                    <h1 class="txt48 mb20"><strong>Technology to take your business to the next level</strong></h1>
                    <p>Take a look at some of our work.</p>
                </div>
                <div class="is-block">
                    <a class="icon-arrow-button-down"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-blue-gradient has-texture c-white ptb60">
    <div class="wrap">
        <div class="is-inline-block size-0 has-columns" style="width: 100%;">
            <div id="tab-1" class="tab-content">
                <div class="fade is-two-thirds-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="{% url 'website:project' %}">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/comex/thumbnail.png' %}" class="card-thumbnail" alt="Publicomex">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Publicomex</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card small-img">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/sealedair/thumbnail.png' %}" class="card-thumbnail" alt="Sealed Air">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Sealed Air</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/santander/thumbnail.png' %}" class="card-thumbnail" alt="Premio Santander">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Premio Santander</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card small-img">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/smartwatch/thumbnail.png' %}" class="card-thumbnail" alt="Smart Alerts">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Smart Alerts</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/canou/thumbnail.jpg' %}" class="card-thumbnail" alt="Canou">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Canou</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card small-img">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/status/thumbnail.png' %}" class="card-thumbnail" alt="Status View">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Status View</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/minute/thumbnail.png' %}" class="card-thumbnail" alt="Minute">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Minute</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/tenoli/thumbnail.png' %}" class="card-thumbnail" alt="Tenoli">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Tenoli</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/somosindustria/thumbnail.png' %}" class="card-thumbnail" alt="Somos Industria">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Somos Industria</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/europartners/thumbnail.png' %}" class="card-thumbnail" alt="Europartners">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Europartners</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/hidrotec/thumbnail.png' %}" class="card-thumbnail" alt="Hidrotec">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Hidrotec</strong></h3></div>
                        </a>
                    </div>
                </div>

                <div class="fade is-one-third-inline has-column is-inline-block">
                    <div class="square-card">
                        <a href="#">
                            <div class="img is-flex">
                                <div class="is-align-middle">
                                    <img src="{% static 'img/portfolio/fronesis/thumbnail.png' %}" class="card-thumbnail" alt="Fronesis">
                                </div>
                            </div>
                            <div class="title"><h3 class="txt26"><strong>Fronesis</strong></h3></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-green-gradient has-texture c-white ptb60">
  <div class="wrap">
    <div class="columns">
      <div class="column is-align-middle has-text-centered">
        <h1 class="txt36 mb20"><strong>Ready to take your business to the next level?</strong></h1>

        <a href="{% url 'website:about' %}" class="button bg-white c-red has-arrow is-right mb20">More about us</a>

        <a href="{% url 'website:quote' %}" class="button bg-red c-white has-arrow is-right mb20">Request Quote</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
