{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pt60">
	<div class="wrap">
		<div class="columns">
			<div class="column is-half">
				<div class="is-block mb40">
					<h1 class="txt36 mb20"><strong>Canou</strong></h1>
					<h1 class="txt30 mb20 c-red">Helping entrepreneurs develop in their companies</h1>
					<p>Simple solutions for any project. Canou encourages palpable innovation with a platform that delivers successful readiness for all types of ventures.</p>
				</div>
				<div class="is-block">
					<a class="icon-arrow-button-down"></a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="bg-red-gradient bg-has-margin-top has-texture pt60 pb60">
	<div class="wrap">
		<div class="columns pb60">
			<div class="column has-text-centered">
        <img src="{% static 'img/img7.png' %}" alt="">
			</div>
		</div>
		<div class="columns pb60">
			<div class="column is-two-thirds has-text-centered is-align-middle bg-circle-align-middle">
        <img src="{% static 'img/img8.png' %}" alt="">
			</div>
			<div class="column is-one-third has-text-centered is-align-middle">
				<div class="has-text-left">
					<h3 class="c-white txt36 mb20"><strong>Think BIG, think BOLD, think BETTER</strong></h3>
					<h4 class="c-white">Canou is the innovation and growth platform for ventures.</h4>
				</div>
			</div>
		</div>
		<div class="columns pb60">
			<div class="column has-text-centered">
        <img src="{% static 'img/img9.png' %}" alt="">
			</div>
		</div>
		<div class="columns pb60">
			<div class="column is-one-third has-text-centered is-align-middle">
				<div class="has-text-left">
					<h3 class="c-white txt36 mb20"><strong>Think BIG, think BOLD, think BETTER</strong></h3>
					<h4 class="c-white">Canou is the innovation and growth platform for ventures.</h4>
				</div>
			</div>
			<div class="column is-two-thirds has-text-centered is-align-middle bg-circle-align-top">
        <img src="{% static 'img/img10.png' %}" alt="">
			</div>
		</div>
		<div class="columns pb60">
			<div class="column has-text-centered">
        <img src="{% static 'img/img11.png' %}" alt="">
			</div>
		</div>
	</div>
</section>


<section class="bg-blue-gradient has-texture pt60 pb80">
	<div class="wrap">
		<h4 class="c-white txt36 mb40"><strong>Other featured projects:</strong></h4>
		<div class="columns">
			<div class="column is-one-third">
				<div class="square-card">
					<a href="#">
						<div class="img">
              <img src="{% static 'img/img3.png' %}" alt="">
						</div>
						<div class="title"><h3 class="txt26"><strong>Fronesis</strong></h3></div>
					</a>
				</div>
			</div>
			<div class="column is-one-third">
				<div class="square-card">
					<a href="#">
						<div class="img">
              <img src="{% static 'img/img3.png' %}" alt="">
						</div>
						<div class="title"><h3 class="txt26"><strong>Fronesis</strong></h3></div>
					</a>
				</div>
			</div>
			<div class="column is-one-third">
				<div class="square-card">
					<a href="#">
						<div class="img">
              <img src="{% static 'img/img3.png' %}" alt="">
						</div>
						<div class="title"><h3 class="txt26"><strong>Fronesis</strong></h3></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
