{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="pt60">
  <div class="l-wrapp-hidden-widescreen pb80">
    <div class="columns">
      <div class="column is-half pr70">
        <h1 class="txt48 mb50">
          <strong>Thank you</strong>
        </h1>
        <p class="mb40">
            We received your message, we will get back to you soon.
        </p>

        <p class="mb40">
          <a href="{% url 'website:home' %}" class="button bg-red c-white has-arrow is-right">Continue browsing</a>
        </p>
      </div>
      <div class="column is-half is-flex-tablet">
        <div class="is-right has-img">
          <img src="{% static 'img/sent.svg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
