{% extends 'content/includes/lesson_form.html' %}
{% load static %}

{% block fields %}
  {{ block.super }}

  <label class="form-label strong block m-top--s" for="id_video_url">URL de video (Youtube)</label>

  <input class="text-input block width-100" type="url" name="video_url" maxlength="150" required="" id="id_video_url" value="{% firstof form.video_url.value '' %}">

  <div class="video-preview-container"></div>
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/youtube-preview.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script src="{% static 'js/youtube-field.js' %}"></script>

  <script type="text/javascript">
    $(function() {
      // DOM elements
      var videoInput = $('#id_video_url');
      var form = $('form');
      var preview = $('.video-preview-container');

      var getVideoURL = function() {
        return videoInput.val();
      };

      var validateVideo = function() {
        return videoLinkIsValid(getVideoURL());
      };

      var showVideo = function() {
        if(validateVideo()) {
          preview.show();
          preview.html(
            createVideo(getVideoURL())
          );
        } else {
          preview.hide();
        }
      };

      var validateVideoOnSubmit = function() {
        var result = validateVideo();

        if(!result)
          alert('Por favor agrega un URL de video correcto.');

        return result;
      };

      // events
      videoInput.on('change', showVideo);
      form.on('submit', validateVideoOnSubmit);

      // start
      videoInput.change();
    });
  </script>
{% endblock %}
