{% extends 'base-full.html' %}
{% load static %}

{% block inner_content %}
  {% for video in object_list %}
    <div class="competencia tab-content--item">
      <a href="{% url 'content:video-detail' video.id %}" class="tab-content--item-link block">
        <h3 class="item-title">{{ video.name }}</h3>
      </a>
    </div>
  {% empty %}
    <p>No existe ninguna video.</p>
  {% endfor %}
{% endblock %}

{% block bottom_actions %}
  <a href="{% url 'content:video-add' %}">
    <button class="button button-add secondary-button block">Agrega video</button>
  </a>
{% endblock %}
