{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="page-head">
    <h2 class="page-head-title">Usuarios </h2>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Nuevo usuario</li>
        </ol>
    </nav>
</div>
<div class="main-content container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider">Agregar nuevo usuario<span class="card-subtitle"></div>

                <div class="card-body">
                    <form method="POST" data-parsley-validate id="user_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pt-2">
                                    <label for="{{ field.id_for_first_name }}">{{ form.first_name.label_tag }} *</label>
                                    {% render_field form.first_name class="form-control" placeholder="Introduzca su(s) nombre(s)" onkeypress="return Solo_Texto(event);" %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group pt-2">
                                    <label for="{{ field.id_for_last_name }}" style="padding-bottom:8px;"> Apellido(s): *</label>
                                    {% render_field form.last_name class="form-control" placeholder="Introduzca su(s) apellido(s)" onkeypress="return Solo_Texto(event);" %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group pt-2">
                            <label for="{{ field.id_for_email }}">{{ form.email.label_tag }} *</label>
                            {% render_field form.email class="form-control" placeholder="Introduzca su email" data-parsley-trigger="keyup" %}
                        </div>
                        <!--
                        <div class="form-group pt-2">
                            <label for="{{ field.id_for_password1 }}">{{ form.password1.label_tag }} *</label>
                            <a title="Requiere 8 caracteres"><span class='mdi mdi-info'></span> </a>
                            {% render_field form.password1 class="form-control" placeholder="Introduzca una contraseña" data-parsley-trigger="keyup" data-parsley-minlength=8 data-parsley-minlength-message="Contraseña requiere mínimo 8 caracteres."%}
                        </div>

                        <div class="form-group pt-2">
                            <label for="{{ field.id_for_password2 }}">{{ form.password2.label_tag }} *</label>
                            {% render_field form.password2 class="form-control" placeholder="Confirme la contraseña" data-parsley-trigger="keyup" data-parsley-equalto="#id_password1" data-parsley-equalto-message="Las contraseñas no coinciden."%}
                        </div>
                        -->

                        <br>
                        <div class="col-sm-12 pl-0">
                            <p class="text-left info">
                                (*) campos requeridos
                            </p>
                            <p class="text-right">
                                <a href="{% url 'users:users-list' %}" class="btn btn-space btn-secondary"> Cancelar</a>
                                <button type="submit" class="btn btn-space btn-primary">Crear</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                notifEmailInvalid();
            {% endif %}
        {% endfor %}
    {% endif %}

    function Solo_Texto(e) {
        var code;
        if (!e) var e = window.event;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        var character = String.fromCharCode(code);
        var AllowRegex  = /^[\ba-zA-Z\s-]$/;
        if (AllowRegex.test(character)) return true;
        return false;
    }

    function notifEmailInvalid(){
        var user = $('#id_email').val();
        $.gritter.add({
            title: 'Email Inválido',
            text: 'Eñ email ' + user + ' ya fue registrado por otro usuario.',
            class_name: 'color danger',
            position: 'bottom-right'
          });
        $('#id_email').val("");
        $('#id_email').focus();
    }

</script>
{% endblock %}
