{% extends 'base-content.html' %}
{% load static %}

{% block content %}
  <div class="page m-rl--m m-bottom--m company">
    <header class="page-header">
      <h1 class="page-title m-tb--0">Administrador de contenidos</h1>
    </header>
    <section class="content m-top--m">
      <nav class="tabs">
        <ul>
          <li class="tab"><a href="#" class="tab-link is-current">Competencias</a></li>
          <li class="tab"><a href="#" class="tab-link">Compañías</a></li>
        </ul>
      </nav>
      <section class="tab-content">
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Comunicación</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Respeto</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Liderazgo</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Feedback</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Confianza</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Comunicación</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Respeto</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Liderazgo</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Feedback</h3></a>
        </div>
        <div class="competencia tab-content--item">
          <a href="#" class="tab-content--item-link block"><h3 class="item-title">Confianza</h3></a>
        </div>
      </section>
      <button class="button button-add secondary-button block">Agrega competencias</button>
    </section>

{% endblock %}
