{% extends 'base-full.html' %}
{% load static %}

{% block content %}
  <div class="page m-rl--m m-bottom--m company">
    <header class="page-header flex">
        <h1 class="page-title m-all--0">Administrador de contenidos</h1>
        <button class="button secondary-button secondary-button-small block m-l--auto align-self-t" type="button">Recalcular asignación automática</button>
    </header>
    <section class="content m-top--m">
      <div class="competencia competencia-single">
        <div class="tab-content--item">
          <h2 class="item-title">Respeto</h2>
        </div>
      </div>
      <nav class="tabs m-top--m">
        <ul>
          <li class="tab"><a href="#" class="tab-link">Contenidos</a></li>
          <li class="tab"><a href="#" class="tab-link is-current">Colecciones</a></li>
        </ul>
      </nav>
      <section class="tab-content relative grid grid-two-col">

          <div class="content--item tab-content--item">
            <a href="#" class="tab-content--item-link block">
              <h3 class="item-title">Respeto para millennials</h3>
              <p class="content-text m-tb--s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
              </p>
            </a>
          </div>

          <div class="content--item tab-content--item">
            <a href="#" class="tab-content--item-link block">
              <h3 class="item-title">Respeto para gerentes</h3>
              <p class="content-text m-tb--s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
              </p>
            </a>
          </div>

      </section>
      <button class="button button-add secondary-button block">Agrega una colección</button>
    </section>

{% endblock %}
