{% extends 'base-content.html' %}
{% load static %}

{% block content %}
  <div class="page m-rl--m m-bottom--m company">
    <header class="page-header flex">
        <h1 class="page-title m-all--0">Administrador de contenidos</h1>
        <button class="button secondary-button secondary-button-small block m-l--auto align-self-t" type="button">Recalcular asignación automática</button>
    </header>
    <section class="content m-top--m">
      <div class="competencia competencia-single">
        <div class="tab-content--item">
          <h2 class="item-title">Respeto</h2>
        </div>
      </div>
      <nav class="tabs m-top--m">
        <ul>
          <li class="tab"><a href="#" class="tab-link">Contenidos</a></li>
          <li class="tab"><a href="#" class="tab-link is-current">Colecciones</a></li>
        </ul>
      </nav>
      <section class="tab-content relative grid grid-two-col">

          <div class="content--item tab-content--item">
            <a href="#" class="tab-content--item-link block">
              <h3 class="item-title">Respeto para millennials</h3>
              <p class="content-text m-tb--s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
              </p>
            </a>
          </div>

          <div class="content--item tab-content--item">
            <a href="#" class="tab-content--item-link block">
              <h3 class="item-title">Respeto para gerentes</h3>
              <p class="content-text m-tb--s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
              </p>
            </a>
          </div>

      </section>
      <button class="button button-add secondary-button block">Agrega una colección</button>
    </section>

    <div class="modal-inside content-add flex" style="display:flex;"> <!-- <- Estilo inline solo para manternerlo abierto -->
     <div class="modal-inside-content width-80">
       <header class="content-add-header flex">
         <hgroup class="title-header">
           <h2 class="page-title m-tb--0">Respeto para millennials</h2>
           <h3 class="page-subtitle m-top--xs">Colección</h3>
         </hgroup>
         <form class="search-form m-top--s" role="search">
           <div class="search-container flex">
             <input class="search-input" type="search" id="mySearch" name="q"
              placeholder="Intruduce un término de búsqueda para el contenido..." ><button class="button button-search">Buscar</button>
           </div>
         </form>
         </header>
         <section class="search-results flex">
           <div class="search-results--item">
             <div class="content--item tab-content--item">
               <div class="content--media"><!-- Video or image --></div>
               <div class="content-info grid">
                 <h3 class="item-title">La importancia del respeto</h3>
                 <span class="content-tag icon-left icon-tag">Video</span>
                 <p class="content-text m-tb--s">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
                 </p>
                 <div class="assign-container relative">
                     <input class="assign-checkbox" type="checkbox" id="checkbox1" />
                     <label class="assign-label" for="checkbox1"></label>
                 </div>
               </div>
             </div>
           </div>

           <div class="search-results--item">
             <div class="content--item tab-content--item">
               <div class="content--media"><!-- Video or image --></div>
               <div class="content-info grid">
                 <h3 class="item-title">Creando un ambiente de respeto en el trabajo</h3>
                 <span class="content-tag icon-left icon-tag">Lectura</span>
                 <p class="content-text m-tb--s">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis sint sapiente sequi labore, error quae architecto, neque fuga tempore!
                 </p>
                 <div class="assign-container relative">
                     <input class="assign-checkbox" type="checkbox" id="checkbox2" />
                     <label class="assign-label" for="checkbox2"></label>
                 </div>
               </div>
             </div>
           </div>
         </section>
         <button class="button button-add secondary-button block">Asignar contenidos</button>
       </div>
   </div>
   <button class="button button-add secondary-button block">Agrega contenido</button>
  </section>

{% endblock %}
