{% extends 'emails/base.html' %}
{% load i18n %}

{% block content %}
  Hola <b>{{user}}</b>, te informamos que el envío {{shipment}} está en riesgo, a continuación se muestra la información:
  <br>
  <ul>
    <li>Envío: {{shipment}}</li>
    <li>Planta de destino: {{plant}}</li>
    <li>Carrier: {{carrier}}</li>
    <li>Trailer: {{truck}}</li>

  </ul>

  <br><br>

  <a style="color: #000000; font-family: Arial, sans-serif; font-size: 14px;" href="{{ request.scheme }}://{{ request.get_host }}:8000/accounts/login/">Ingresar</a>
{% endblock %}