.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.block {
  display: block;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-50 {
  width: 50%;
}

.strong {
  font-weight: 700;
}

///////////////////////////
//  Margins
///////////////////////////

.m-tb--xs {
  margin: $xs 0;
}

.m-tb--s {
  margin: $s 0;
}

.m-tb--m {
  margin: $m 0;
}

.m-tb--l {
  margin: $l 0;
}

.m-tb--xl {
  margin: $xl 0;
}

.m-tb--xxl {
  margin: $xxl 0;
}

.m-top--xs {
  margin-top: $xs;
}

.m-top--s {
  margin-top: $s;
}

.m-top--m {
  margin-top: $m;
}

.m-top--l {
  margin-top: $l;
}

.m-top--xl {
  margin-top: $xl;
}

.m-top--xxl {
  margin-top: $xxl;
}

.m-bottom--xs {
  margin-bottom: $xs;
}

.m-bottom--s {
  margin-bottom: $s;
}

.m-bottom--m {
  margin-bottom: $m;
}

.m-bottom--l {
  margin-bottom: $l;
}

.m-bottom--xl {
  margin-bottom: $xl;
}

.m-bottom--xxl {
  margin-bottom: $xxl;
}

.m-tb--xs {
  margin: $xs 0;
}

.m-tb--s {
  margin: $s 0;
}

.m-tb--m {
  margin: $m 0;
}

.m-tb--l {
  margin: $l 0;
}

.m-tb--xl {
  margin: $xl 0;
}

.m-tb--xxl {
  margin: $xxl 0;
}
