.hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.a--right {
  margin-left: auto;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.icon-left {
  padding-left: $s;
}

.icon-tag {
  background: url(../imgs/tag.svg) left center no-repeat;
  background-size: 1.2rem;
}

.relative {
  position: relative;
}

.grid {
  display: grid;
}

.grid-sidebar {
  grid-template-columns: 20rem 4fr;
  grid-template-rows: repeat(2, 10rem) 1fr;
  grid-column-gap: $l;
  grid-row-gap: $s;
}


///////////////////////////
//  Widths
///////////////////////////

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-50 {
  width: 50%;
}

///////////////////////////
//  Margins
///////////////////////////

.m-tb--0 {
  margin: 0 auto;
}

.m-tb--xs {
  margin: $xs 0;
}

.m-tb--s {
  margin: $s 0;
}

.m-tb--m {
  margin: $m 0;
}

.m-tb--l {
  margin: $l 0;
}

.m-tb--xl {
  margin: $xl 0;
}

.m-tb--xxl {
  margin: $xxl 0;
}

.m-top--0 {
  margin-top: 0;
}

.m-top--xs {
  margin-top: $xs;
}

.m-top--s {
  margin-top: $s;
}

.m-top--m {
  margin-top: $m;
}

.m-top--l {
  margin-top: $l;
}

.m-top--xl {
  margin-top: $xl;
}

.m-top--xxl {
  margin-top: $xxl;
}

.m-bottom--0 {
  margin-bottom: 0;
}

.m-bottom--xs {
  margin-bottom: $xs;
}

.m-bottom--s {
  margin-bottom: $s;
}

.m-bottom--m {
  margin-bottom: $m;
}

.m-bottom--l {
  margin-bottom: $l;
}

.m-bottom--xl {
  margin-bottom: $xl;
}

.m-bottom--xxl {
  margin-bottom: $xxl;
}

.m-rl--xs {
  margin-right: $xs; margin-left: $xs;
}

.m-rl--s {
  margin-right: $s; margin-left: $s;
}

.m-rl--m {
  margin-right: $m; margin-left: $m;
}

.m-rl--l {
  margin-right: $l; margin-left: $l;
}

.m-rl--xl {
  margin-right: $xl; margin-left: $xl;
}

.m-rl--xxl {
  margin-right: $xxl; margin-left: $xxl;
}


///////////////////////////
//  Form
///////////////////////////

.classless-form {
  p {
    margin: 1.6rem 0;
    }
}
