///////////////////////////
//  Definitions: Colors
///////////////////////////

$text-color    :     #666;
$yellow        :     #EFB701;
$dark-yellow   :     #7D6000;
$muted-blue    :     #516173;
$brown         :     #5A574E;

///////////////////////////
//  Definitions: Fonts
///////////////////////////

$main-stack    :    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
