<script type="text/x-template" id="shipment-card">
  <div class="card card-border card-shipment" v-on:click="showUpdateModal">
    <div class="card-body padding-5">
      <div class="row no-margin shipment-title">
        <div class="col-12 no-padding">
          <span class="badge badge-carrier badge-ipt" :style="plantStyle">
           ${shipment.plant.code}</span>
           <strong>#${shipment.code}</strong>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-12 no-padding" :style="carrierStyle">
          <span class="icon mdi mdi-account"></span>
           ${shipment.truck.carrier.code}
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-12 no-padding" :style="carrierStyle">
          <span class="icon mdi mdi-truck"></span>
           ${shipment.truck.code} <br />
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-10 no-padding">
          <span class="icon mdi mdi-hourglass-alt"></span> ${timeSinceStatusStart}
        </div>
        <div class="col-2 no-padding">
          <span class="badge float-right" v-bind:class="timeStatusClass">${timeStatusLabel}</span>
        </div>
      </div>
    </div>
  </div>
</script>