{% load static %}

<div class="modal-scroll-panel scroll-panel-comments ">
  <template v-if="shipment.comments.length">
    <div v-for="comment in shipment.comments" class="timeline-content">
      <div class="timeline-avatar avatar-margin-right"><img :src="comment.user.profile.avatar.crop__128x128" alt="Avatar" class="circle"></div>
      <div class="timeline-header">
        <span class="timeline-time" style="text-align: right;">
          ${_formatDateWithoutYear(comment.datetime)} <br />
          ${_formatTime(comment.datetime)}
        </span>
        <span class="timeline-autor">${_userDisplayName(comment.user)}</span>
        <div class="timeline-summary">
          <p>${comment.body}</p>
        </div>
      </div>
    </div>
  </template>
  <p v-else style="text-align: center;">
    Este embarque aún no tiene comentarios.
  </p>
</div>

<div style="display: flex;">
  <input v-model="newComment" v-on:keyup.enter="addComment()" type="text" placeholder="Introduce tu comentario" class="form-control">
  <button v-on:click="addComment()" v-bind:class="{ active: newComment.length > 0 }" class="btn btn-primary btn-lg">
    Enviar
  </button>
</div>
