{% extends 'base.html' %}
{% load static %}
{% load l10n %}


{% block content %}
  <div class="page-head">
    <h2 class="page-head-title">Embarques</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <button class="btn btn-space btn-primary btn-lg float-right"  data-toggle="modal" data-target="#new-shipment">
        <i class="icon icon-left mdi mdi-plus"></i> Nuevo embarque
      </button>
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active">Embarques</li>
      </ol>
    </nav>
  </div>

  {% include 'shipments/dashboard/create.html' %}
  {% include 'shipments/dashboard/update.html' %}
  {% include 'shipments/dashboard/column.html' %}
  {% include 'shipments/dashboard/card.html' %}

  <div id="shipments-dashboard" class="main-content container-fluid">
    {% include 'shipments/dashboard/metrics.html' %}
    {% include 'shipments/dashboard/checkpoints.html' %}
    </div>
  </div>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" type="text/css"/>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'lib/vue/vue.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/card.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/column.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/dashboard.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/create.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vue/shipments/update.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/timeline.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('.modal').on('show.bs.modal', function(){
      $("html").addClass('be-modal-open');
    });

    $('.modal').on('hidden.bs.modal', function(){
      $("html").removeClass('be-modal-open');
    });

    $(".datetimepicker").datetimepicker({
      autoclose: true,
      componentIcon: '.mdi.mdi-calendar',
      navIcons:{
        rightIcon: 'mdi mdi-chevron-right',
        leftIcon: 'mdi mdi-chevron-left'
      }
    });
  </script>
{% endblock %}
