{% load static %}

<div class="row">
  <div
    v-for="(plant, index) in plants"
    v-bind:key="index"
    v-bind:plant="plant"
    class="col">
    <div class="card card-border-color card-contrast text-center" :style="getPlantStyle(plant)">
      <div class="card-header">
        <strong>${ plant.name }</strong>
      </div>
      <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th style="width:40%;"></th>
                <th class="text-center">YTD</th>
                <th class="text-center">Goal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AVG. Transit time (in days)</td>
                <td class="text-center">
                  <span class="badge badge-pill badge-success">
                    ${ plant.current_year_metrics.average_duration.toFixed(2) }</span></td>
                <td class="text-center">
                  <span class="badge badge-pill">
                    ${ plant.previous_year_metrics.average_duration.toFixed(2) }</span></td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <th style="width:40%;"></th>
                <th class="text-center">YTD</th>
                <th class="text-center">%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total shipments</td>
                <td class="text-center">
                  <span class="badge badge-pill">${ plant.current_year_metrics.count }</span></td>
                <td class="text-center">
                  <span class="badge badge-pill">${ plant.current_year_metrics.percentage }%</span></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
