{% load static %}
<div class="main-content container-fluid">
  <div class="row">
    <div class="col-12">
      <br />
      <div class="sa-timeline row">
        <div class="empty start"></div>
        <div class="bullet">
          <span class="title" data-title="CPM"></span>
          <span class="time">
            <span class="departure">
              ${timesCPM.start}
            </span>
          </span>
        </div>

        <!-- transit mx -->
        <template v-if="timesTransitMX.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet transit inactive-bullet">
            <span class="title" data-title="Tránsito MX"></span>
          </div>
        </template>
        <div v-else class="bullet transit">
          <span class="title" data-title="Tránsito MX"></span>
          <span class="time">
            <span class="duration">
              ${timesTransitMX.duration}
            </span>
          </span>
        </div>

        <!-- carrier mx -->
        <template v-if="timesCarrierMX.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet inactive-bullet">
            <span class="title" data-title="Carrier MX"></span>
          </div>
        </template>
        <div v-else class="bullet">
          <span class="title" data-title="Carrier MX"></span>
          <span class="time">
            <span class="arrival">
              ${timesCarrierMX.start}
            </span>

            <br />

            <span class="duration">
              ${timesCarrierMX.duration}
            </span>

            <br />

            <span class="departure">
              ${timesCarrierMX.end}
            </span>
          </span>
        </div>

        <!-- crossing -->
        <template v-if="timesCrossing.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet transit inactive-bullet">
            <span class="title" data-title="En cruce"></span>
          </div>
        </template>
        <div v-else class="bullet transit">
          <span class="title" data-title="En cruce"></span>
          <span class="time">
            <span class="duration">
              ${timesCrossing.duration}
            </span>
          </span>
        </div>

        <!-- carrier us -->
        <template v-if="timesCarrierUS.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet inactive-bullet">
            <span class="title" data-title="Carrier US"></span>
          </div>
        </template>
        <div v-else class="bullet">
          <span class="title" data-title="Carrier US"></span>
          <span class="time">
            <span class="arrival">
              ${timesCarrierUS.start}
            </span>

            <br />

            <span class="duration">
              ${timesCarrierUS.duration}
            </span>

            <br />

            <span class="departure">
              ${timesCarrierUS.end}
            </span>
          </span>
        </div>

        <!-- transitUS -->
        <template v-if="timesTransitUS.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet transit inactive-bullet">
            <span class="title" data-title="Tránsito US"></span>
          </div>
        </template>
        <div v-else class="bullet transit">
          <span class="title" data-title="Tránsito US"></span>
          <span class="time">
            <span class="duration">
              ${timesTransitUS.duration}
            </span>
          </span>
        </div>

        <!-- delivered -->
        <template v-if="timesDelivered.empty">
          <div class="empty inactive-line"></div>
          <div class="bullet transit inactive-bullet">
            <span class="title" data-title="Entregado"></span>
          </div>
        </template>
        <div v-else class="bullet">
          <span class="title" data-title="Entregado"></span>
          <span class="time">
            <span class="arrival">
              ${timesDelivered.start}
            </span>
          </span>
        </div>
        <div class="empty end"></div>
      </div>

    </div>
  </div>
</div>
